---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/assets/Imagenes/Heros/Carreras/Sistemasdeinformacion.webp";
import Hero_mobile from "@/assets/Imagenes/Heros/Carreras/Sistemasdeinformacion_mobile.webp";
import ImagenCard from "@/assets/Imagenes/CardsNiveles/Nivel.webp";
import LogoCard from "@/assets/Logos/Licenciatura.webp";
import InformativeCard from "@components/sections/detallesOferta/card.astro";
import Requisitos from "@/components/sections/detallesOferta/requisitos.astro";
import FAQComponent from "@/components/sections/detallesOferta/preguntas.astro";
import CTAinscripcion from "@/components/sections/shared/ctaInscripcion.astro";
import { Calendar, UserPlus, Phone } from "@lucide/astro";
import PlanEstudios from "@/components/sections/detallesOferta/planEstudios.astro";
import Planteles from "@/components/sections/detallesOferta/planteles.astro";

const requisitosInfo = {
  items: [
    "Acta de nacimiento (original)",
    "Certificado total de bachillerato (original)",
    "Oficio de validación de autenticidad del certificado de estudios (emitido por la autoridad correspondiente)",
    "Equivalencia o grado superior, certificado parcial y contenidos temáticos",
    "CURP (formato RENAPO)",
    "Identificación oficial con fotografía (INE) - dos copias",
    "Comprobante de domicilio reciente (no mayor a 3 meses) - una copia",
    "Cinco fotografías tamaño infantil, blanco y negro, papel mate, de estudio",
  ],
  pdfUrl: "/pdfs/licenciatura_req.pdf",
};

const faqs = [
  
  {
    question: "¿Cuál es la duración de una licenciatura?",
    answer:
      "Las licenciaturas tienen una duración promedio de 8 a 10 semestres, dependiendo del programa, la institución incorporadora (UDG o SICYT) y la modalidad elegida.",
  },
  {
    question: "¿Qué modalidades de estudio están disponibles?",
    answer:
      "Las licenciaturas pueden cursarse en modalidad presencial, en línea, escolarizada o semiescolarizada, según la carrera y el plantel. Algunas combinan clases presenciales con actividades virtuales.",
  },
  {
    question: "¿Puedo trabajar mientras estudio una licenciatura?",
    answer:
      "Sí. Las modalidades en línea y semiescolarizada están diseñadas para ofrecer mayor flexibilidad y permitir compatibilizar tus estudios con otras actividades.",
  },
  {
    question: "¿Cómo se evalúa el desempeño académico?",
    answer:
      "El sistema de evaluación incluye exámenes, proyectos, participación en clase, trabajos individuales o en equipo y actividades prácticas, según el enfoque de cada licenciatura.",
  },
  {
    question: "¿Qué tipo de apoyo académico se brinda a los estudiantes?",
    answer:
      "La institución ofrece tutorías, asesorías académicas presenciales y virtuales, y acceso a plataformas educativas. En casos específicos, pueden gestionarse apoyos adicionales conforme a criterio institucional.",
  },
  {
    question:
      "¿Las licenciaturas están incorporadas a alguna institución oficial?",
    answer:
      "Sí. Contamos con licenciaturas incorporadas a la Universidad de Guadalajara (UDG) y a la Secretaría de Innovación, Ciencia y Tecnología (SICYT) del Estado de Jalisco, lo que garantiza validez oficial de estudios.",
  },
  {
    question: "¿Dónde puedo obtener más información e inscribirme?",
    answer:
      "Puedes acudir directamente a las oficinas del plantel más cercano o visitar nuestro portal web para consultar la oferta académica, requisitos y fechas de inscripción.",
  },
];

const semestresDatos = [
  {
    numero: 1,
    materias: [
      {
        codigo: "ED1021",
        nombre: "Introducción a la Educación",
        creditos: 30,
        color: "verde",
      },
      {
        codigo: "Filosofía y Ética en Educación",
        nombre: "Filosofía y Ética en Educación",
        creditos: 30,
        color: "verde",
      },
      {
        codigo: "ED1024",
        nombre: "Desarrollo Infantil y adolescente",
        creditos: 30,
        color: "verde",
      },
      {
        codigo: "ED1027",
        nombre: "Habilidades Básicas de Investigación",
        creditos: 30,
        color: "verde",
      },
    ],
  },
  {
    numero: 2,
    materias: [
      {
        codigo: "FH1203",
        nombre: "Pensamiento lógico y tecnológico",
        creditos: 30,
        color: "amarillo",
      },
      {
        codigo: "ED2016",
        nombre: "Desarrollo de la Psicomotricidad",
        creditos: 30,
        color: "amarillo",
      },
      {
        codigo: "HJ2026",
        nombre: "Ética social cristiana",
        creditos: 30,
        color: "amarillo",
      },
      {
        codigo: "ED1029",
        nombre: "Historia de la Pedagogía moderna",
        creditos: 30,
        color: "amarillo",
      },
    ],
  },
  {
    numero: 3,
    materias: [
      {
        codigo: "PS1201",
        nombre: "Fundamentos de Psicología y Bienestar",
        creditos: 30,
        color: "naranja",
      },
      {
        codigo: "Gestión educativa institucional",
        nombre: "Gestión educativa institucional",
        creditos: 30,
        color: "naranja",
      },
      {
        codigo: "ED2012",
        nombre: "Desarrollo Socioemocional",
        creditos: 30,
        color: "naranja",
      },
      {
        codigo: "ED3027",
        nombre: "Administración educativa",
        creditos: 30,
        color: "naranja",
      },
    ],
  },
  // Puedes agregar más semestres según necesites
];

const planteles = [
  {
    id: "1",
    nombre: "UNE en línea",
   codigo: "TORRE MILENIO",
    direccion: "Av. López Mateos Sur #4175 Col. La Giralda Zapopan, Jalisco",
    ciudad: "Guadalajara ZMG",
    url:"/campus/Torre-milenio",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Torre-milenio.webp",
    lat: "20.645336",
    lon: "-103.405938",
  },
];

const ciudades = [
  "Guadalajara ZMG",
  "Puerto Vallarta",
  "Tepatitlán de Morelos",
];
---

<Layout>
  <main class="min-h-screen">
    <!-- Hero Section -->

    <section
      class="relative min-h-[85vh] md:min-h-[65vh] bg-cover bg-center bg-no-repeat"
    >
      {/* Desktop Background */}
      <div
        class="absolute inset-0 hidden md:block bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero.src})` }}
      >
      </div>

      {/* Mobile Background */}
      <div
        class="absolute inset-0 block md:hidden bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero_mobile.src})` }}
      >
      </div>

      {/* Hero Content */}
      <div
        class="relative z-10 container mx-auto px-4 h-full min-h-[85vh] md:min-h-[65vh] flex flex-col justify-center"
      >
        <div class="text-center text-white max-w-4xl mx-auto">
          {/* Main Title */}
          <h1 class="text-4xl md:text-7xl font-bold tracking-wider mb-4">
            Administración de Sistemas de Información
          </h1>

          {/* Description */}
          <p
            class="text-lg md:text-xl leading-relaxed mb-16 max-w-3xl mx-auto font-light"
          >
            Integra tecnología y negocios para mejorar procesos y tomar
            decisiones estratégicas basadas en datos.
          </p>
        </div>
      </div>
    </section>

    <!-- Floating Card - ahora está fuera de la sección hero -->
    <div class="relative -top-16 z-20 px-4">
      <div class="bg-azul-une rounded-2xl px-8 shadow-2xl max-w-4xl mx-auto">
        <div
          class="flex flex-col sm:flex-row items-center justify-center gap-6"
        >
          <!-- CTA Buttons -->
          <div
            class="flex flex-col sm:flex-row gap-4 w-full justify-center text-white"
          >
            <!-- Agenda una Visita -->
            <a
              href="/contacto/solicitarvisita"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-6 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a AGENDA UNA VISITA" title="AGENDA UNA VISITA">
              AGENDA UNA VISITA
              <Calendar size={20} />
            </a>

            <!-- Iniciar Inscripción -->
            <a
              href="/contacto/formulario-inscripcion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a INICIAR INSCRIPCIÓN" title="INICIAR INSCRIPCIÓN">
              INICIAR INSCRIPCIÓN
              <UserPlus size={20} />
            </a>

            <!-- Contactar -->
            <a
              href="/contacto/solicitarinformacion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a página de contacto" title="Contactar con nosotros">
              CONTACTAR
              <Phone size={20} />
            </a>
          </div>
        </div>
      </div>
    </div>

    <InformativeCard
      logoSrc={LogoCard.src}
      studentImageSrc={ImagenCard.src}
      title="Objetivo"
      description="Desarrollar especialistas en la gestión y análisis de sistemas de información, capaces de implementar soluciones tecnológicas alineadas a los objetivos organizacionales, mejorando la toma de decisiones, la productividad y el impacto positivo en entornos empresariales y sociales."
      additionalText=""
      features={[
        { icon: "Database", label: "Gestión de datos empresariales" },
        { icon: "BarChart3", label: "Análisis para la toma de decisiones" },
        { icon: "LayoutDashboard", label: "Soluciones integradas de TI" },
        { icon: "ShieldCheck", label: "Seguridad y ética en la información" },
        {
          icon: "BriefcaseBusiness",
          label: "Enfoque organizacional y estratégico",
        },
      ]}
    />

    <!--  <PlanEstudios titulo="Propuesta Educativa" semestres={semestresDatos} /> -->

    <Planteles
      titulo="Encuentra tu campus más cercano"
      planteles={planteles}
      ciudades={ciudades}
      mostrarMasCercano={true}
    />

    <Requisitos nivel="Licenciatura" requisitos={requisitosInfo} />

    <FAQComponent
      faqs={faqs}
      title="Preguntas frecuentes"
      subtitle="Encuentra respuestas a las dudas más comunes"
    />

    <CTAinscripcion />
  </main>
</Layout>
