---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/assets/Imagenes/Heros/Carreras/Arquitectura.webp";
import Hero_mobile from "@/assets/Imagenes/Heros/Carreras/Arquitectura_mobile.webp";
import ImagenCard from "@/assets/Imagenes/CardsNiveles/Nivel.webp";
import LogoCard from "@/assets/Logos/Licenciatura.webp";
import InformativeCard from "@components/sections/detallesOferta/card.astro";

import Requisitos from "@/components/sections/detallesOferta/requisitos.astro";

import FAQComponent from "@/components/sections/detallesOferta/preguntas.astro";
import CTAinscripcion from "@/components/sections/shared/ctaInscripcion.astro";
import { Calendar, UserPlus, Phone } from "@lucide/astro";
import PlanEstudios from "@/components/sections/detallesOferta/planEstudios.astro";
import Planteles from "@/components/sections/detallesOferta/planteles.astro";
import Planes from "@/components/sections/detallesOferta/Planes.astro";

const requisitosInfo = {
  items: [
    "Acta de nacimiento (original)",
    "Certificado total de bachillerato (original)",
    "Oficio de validación de autenticidad del certificado de estudios (emitido por la autoridad correspondiente)",
    "Equivalencia o grado superior, certificado parcial y contenidos temáticos",
    "CURP (formato RENAPO)",
    "Identificación oficial con fotografía (INE) - dos copias",
    "Comprobante de domicilio reciente (no mayor a 3 meses) - una copia",
    "Cinco fotografías tamaño infantil, blanco y negro, papel mate, de estudio"
  ],
  pdfUrl: "/pdfs/licenciatura_req.pdf",
};

const faqs = [
  
  {
    question: "¿Cuál es la duración de una licenciatura?",
    answer:
      "Las licenciaturas tienen una duración promedio de 8 a 10 semestres, dependiendo del programa, la institución incorporadora (UDG o SICYT) y la modalidad elegida.",
  },
  {
    question: "¿Qué modalidades de estudio están disponibles?",
    answer:
      "Las licenciaturas pueden cursarse en modalidad presencial, en línea, escolarizada o semiescolarizada, según la carrera y el plantel. Algunas combinan clases presenciales con actividades virtuales.",
  },
  {
    question: "¿Puedo trabajar mientras estudio una licenciatura?",
    answer:
      "Sí. Las modalidades en línea y semiescolarizada están diseñadas para ofrecer mayor flexibilidad y permitir compatibilizar tus estudios con otras actividades.",
  },
  {
    question: "¿Cómo se evalúa el desempeño académico?",
    answer:
      "El sistema de evaluación incluye exámenes, proyectos, participación en clase, trabajos individuales o en equipo y actividades prácticas, según el enfoque de cada licenciatura.",
  },
  {
    question: "¿Qué tipo de apoyo académico se brinda a los estudiantes?",
    answer:
      "La institución ofrece tutorías, asesorías académicas presenciales y virtuales, y acceso a plataformas educativas. En casos específicos, pueden gestionarse apoyos adicionales conforme a criterio institucional.",
  },
  {
    question:
      "¿Las licenciaturas están incorporadas a alguna institución oficial?",
    answer:
      "Sí. Contamos con licenciaturas incorporadas a la Universidad de Guadalajara (UDG) y a la Secretaría de Innovación, Ciencia y Tecnología (SICYT) del Estado de Jalisco, lo que garantiza validez oficial de estudios.",
  },
  {
    question: "¿Dónde puedo obtener más información e inscribirme?",
    answer:
      "Puedes acudir directamente a las oficinas del plantel más cercano o visitar nuestro portal web para consultar la oferta académica, requisitos y fechas de inscripción.",
  },
];

const semestresDatos = [
  {
    numero: 1,
    materias: [
      {
        codigo: "ARQ1001",
        nombre: "Análisis de Problemas Globales del Siglo XXI",
        creditos: 0,
        color: "verde",
      },
      {
        codigo: "ARQ1002",
        nombre: "Formación Universitaria",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "ARQ1003",
        nombre: "Configuración del Espacio Tridimensional a partir Geometría Descriptiva",
        creditos: 6,
        color: "verde",
      },
      {
        codigo: "ARQ1004",
        nombre: "Educación Visual",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "ARQ1005",
        nombre: "Fundamentos de Edificación",
        creditos: 6,
        color: "verde",
      },
      {
        codigo: "ARQ1006",
        nombre: "Matemáticas para Arquitectura",
        creditos: 6,
        color: "verde",
      },
      {
        codigo: "ARQ1007",
        nombre: "Representación Técnica Arquitectónica",
        creditos: 6,
        color: "verde",
      },
      {
        codigo: "ARQ1008",
        nombre: "Taller Desarrollo de Grafías para la Arquitectura",
        creditos: 4,
        color: "verde",
      },
      {
        codigo: "ARQ1009",
        nombre: "Proyecto 1: Contextualización Arquitectónica",
        creditos: 12,
        color: "verde",
      },
    ],
  },
  {
    numero: 2,
    materias: [
      {
        codigo: "ARQ2001",
        nombre: "Análisis e Interpretación de las Teorías de la Arquitectura",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "ARQ2002",
        nombre: "Aplicación de la Topografía para la Arquitectura",
        creditos: 4,
        color: "amarillo",
      },
      {
        codigo: "ARQ2003",
        nombre: "Fundamentación y Procesos de Investigación",
        creditos: 3,
        color: "amarillo",
      },
      {
        codigo: "ARQ2004",
        nombre: "Fundamentos de Estructuras",
        creditos: 7,
        color: "amarillo",
      },
      {
        codigo: "ARQ2005",
        nombre: "Fundamentos del Diseño Bidimensional",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "ARQ2006",
        nombre: "Perspectiva Aplicada a la Arquitectura y Expresión Gráfica Arquitectónica",
        creditos: 6,
        color: "amarillo",
      },
      {
        codigo: "ARQ2007",
        nombre: "Procesos Normativos para el Proyecto Arquitectónico y Urbano",
        creditos: 3,
        color: "amarillo",
      },
      {
        codigo: "ARQ2008",
        nombre: "Representación Digital",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "ARQ2009",
        nombre: "Proyecto 2: Análisis de Proyectos de Espacio Arquitectónico",
        creditos: 12,
        color: "amarillo",
      },
    ],
  },
  {
    numero: 3,
    materias: [
      {
        codigo: "ARQ3001",
        nombre: "Estructuras Estáticamente Determinadas",
        creditos: 7,
        color: "naranja",
      },
      {
        codigo: "ARQ3002",
        nombre: "Fundamentos del Diseño Tridimensional",
        creditos: 5,
        color: "naranja",
      },
      {
        codigo: "ARQ3003",
        nombre: "Investigación y Contextualización de la Arquitectura y el Urbanismo desde sus Inicios al Fin del Medioevo",
        creditos: 5,
        color: "naranja",
      },
      {
        codigo: "ARQ3004",
        nombre: "Principios Urbanos Aplicables al Proyecto Arquitectónico y Urbano",
        creditos: 5,
        color: "naranja",
      },
      {
        codigo: "ARQ3005",
        nombre: "Procesos Edificatorios Tradicionales",
        creditos: 6,
        color: "naranja",
      },
      {
        codigo: "ARQ3006",
        nombre: "Representación Digital Tridimensional",
        creditos: 5,
        color: "naranja",
      },
      {
        codigo: "ARQ3007",
        nombre: "Taller de Creatividad Gráfica y Volumétrica",
        creditos: 5,
        color: "naranja",
      },
      {
        codigo: "ARQ3008",
        nombre: "Proyecto 3: Argumentación de Propuestas Espaciales Volumétricas",
        creditos: 12,
        color: "naranja",
      },
    ],
  },
  {
    numero: 4,
    materias: [
      {
        codigo: "ARQ4001",
        nombre: "Análisis e Interpretación de la Realidad Nacional",
        creditos: 3,
        color: "rojo",
      },
      {
        codigo: "ARQ4002",
        nombre: "Diseño Urbano y Gestión de Espacios Abiertos y Vecinales",
        creditos: 6,
        color: "rojo",
      },
      {
        codigo: "ARQ4003",
        nombre: "Estructuras Estáticamente Indeterminadas",
        creditos: 7,
        color: "rojo",
      },
      {
        codigo: "ARQ4004",
        nombre: "Investigación y Contextualización de la Arquitectura y el Urbanismo del Renacimiento a la Ciudad Industrial",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "ARQ4005",
        nombre: "Procesos Regulatorios para el Proyecto Arquitectónico y Urbano",
        creditos: 4,
        color: "rojo",
      },
      {
        codigo: "ARQ4006",
        nombre: "Sistemas Integrales Hidrosanitarios y Eléctricos",
        creditos: 6,
        color: "rojo",
      },
      {
        codigo: "ARQ4007",
        nombre: "Taller de Creatividad Arquitectónica",
        creditos: 4,
        color: "rojo",
      },
      {
        codigo: "ARQ4008",
        nombre: "Proyecto 4: Propuestas Arquitectónicas Funcionales y Formales Fundamentadas",
        creditos: 12,
        color: "rojo",
      },
    ],
  },
  {
    numero: 5,
    materias: [
      {
        codigo: "ARQ5001",
        nombre: "Formación Integral",
        creditos: 5,
        color: "purpura",
      },
      {
        codigo: "ARQ5002",
        nombre: "Diseño Estructural en Concreto",
        creditos: 7,
        color: "purpura",
      },
      {
        codigo: "ARQ5003",
        nombre: "Investigación y Contextualización de la Arquitectura y el Urbanismo de la Ciudad Industrial a la Actualidad",
        creditos: 5,
        color: "purpura",
      },
      {
        codigo: "ARQ5004",
        nombre: "Principios Sociológicos del Proyecto Arquitectónico y Urbano",
        creditos: 3,
        color: "purpura",
      },
      {
        codigo: "ARQ5005",
        nombre: "Procesos Edificatorios Integrales Contemporáneos",
        creditos: 6,
        color: "purpura",
      },
      {
        codigo: "ARQ5006",
        nombre: "Procesos Legales para el Proyecto Arquitectónico y Urbano",
        creditos: 3,
        color: "purpura",
      },
      {
        codigo: "ARQ5007",
        nombre: "Proyecto 5: Propuestas Arquitectónicas con Criterios Constructivos",
        creditos: 12,
        color: "purpura",
      },
      {
        codigo: "ARQ5008",
        nombre: "Optativa Abierta II",
        creditos: 4,
        color: "purpura",
      },
    ],
  },
  {
    numero: 6,
    materias: [
      {
        codigo: "ARQ6001",
        nombre: "Crítica de la Arquitectura",
        creditos: 4,
        color: "azul",
      },
      {
        codigo: "ARQ6002",
        nombre: "Diseño Estructural en Acero y Mampostería Confinada",
        creditos: 7,
        color: "azul",
      },
      {
        codigo: "ARQ6003",
        nombre: "Diseño Urbano y Gestión a Escala Barrial y Distrital",
        creditos: 6,
        color: "azul",
      },
      {
        codigo: "ARQ6004",
        nombre: "Investigación y Análisis de la Arquitectura Mexicana Precolombina",
        creditos: 3,
        color: "azul",
      },
      {
        codigo: "ARQ6005",
        nombre: "Procesos Edificatorios Sustentables",
        creditos: 6,
        color: "azul",
      },
      {
        codigo: "ARQ6006",
        nombre: "Proyecto 6: Propuestas Arquitectónicas Funcionales, Formales y Constructivas",
        creditos: 12,
        color: "azul",
      },
      {
        codigo: "ARQ6007",
        nombre: "Optativa Abierta III",
        creditos: 4,
        color: "azul",
      },
      {
        codigo: "ARQ6008",
        nombre: "Optativa Abierta IV",
        creditos: 4,
        color: "azul",
      },
    ],
  },
  {
    numero: 7,
    materias: [
      {
        codigo: "ARQ7001",
        nombre: "Seminario de Investigación",
        creditos: 4,
        color: "rosa",
      },
      {
        codigo: "ARQ7002",
        nombre: "Administración Técnica de Obra y Gestión Empresarial",
        creditos: 6,
        color: "rosa",
      },
      {
        codigo: "ARQ7003",
        nombre: "Investigación y Análisis de la Arquitectura Mexicana de la Colonia a las Instituciones",
        creditos: 3,
        color: "rosa",
      },
      {
        codigo: "ARQ7004",
        nombre: "Sistemas Integrales Mecánicos y Especiales",
        creditos: 6,
        color: "rosa",
      },
      {
        codigo: "ARQ7005",
        nombre: "Taller de Gestión y Gerencia de Proyectos Arquitectónicos",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "ARQ7006",
        nombre: "Diseño de Tenso Estructuras",
        creditos: 4,
        color: "rosa",
      },
      {
        codigo: "ARQ7007",
        nombre: "Ecología Urbana",
        creditos: 6,
        color: "rosa",
      },
      {
        codigo: "ARQ7008",
        nombre: "Proyecto 7: Propuestas Arquitectónicas y Propuesta de Proyecto Ejecutivo",
        creditos: 12,
        color: "rosa",
      },
    ],
  },
  {
    numero: 8,
    materias: [
      {
        codigo: "ARQ8001",
        nombre: "Control Técnico de Obra",
        creditos: 6,
        color: "cyan",
      },
      {
        codigo: "ARQ8002",
        nombre: "Diseño Urbano y Gestión a Escala de Centros de Población",
        creditos: 6,
        color: "cyan",
      },
      {
        codigo: "ARQ8003",
        nombre: "Investigación y Análisis de la Arquitectura y el Urbanismo Mexicano de las Instituciones a la Actualidad",
        creditos: 3,
        color: "cyan",
      },
      {
        codigo: "ARQ8004",
        nombre: "Diseño de Elementos Auxiliares Prefabricados",
        creditos: 4,
        color: "cyan",
      },
      {
        codigo: "ARQ8005",
        nombre: "Proyecto Bioclimático",
        creditos: 4,
        color: "cyan",
      },
      {
        codigo: "ARQ8006",
        nombre: "Proyecto 8: Proyecto Arquitectónico y Ejecutivo",
        creditos: 12,
        color: "cyan",
      },
      {
        codigo: "ARQ8007",
        nombre: "Tópico Selecto II",
        creditos: 3,
        color: "cyan",
      },
      {
        codigo: "ARQ8008",
        nombre: "Tópico Selecto I",
        creditos: 3,
        color: "cyan",
      },
    ],
  },
  {
    numero: 9,
    materias: [
      {
        codigo: "ARQ9001",
        nombre: "Taller de Costos y Presupuestos",
        creditos: 6,
        color: "gris",
      },
      {
        codigo: "ARQ9002",
        nombre: "Taller Integral de Edificación Conceptual",
        creditos: 3,
        color: "gris",
      },
      {
        codigo: "ARQ9003",
        nombre: "Taller Integral de Urbanismo Conceptual",
        creditos: 4,
        color: "gris",
      },
      {
        codigo: "ARQ9004",
        nombre: "Proceso del Diseño Bioclimático",
        creditos: 4,
        color: "gris",
      },
      {
        codigo: "ARQ9005",
        nombre: "Riesgo Sísmico",
        creditos: 4,
        color: "gris",
      },
      {
        codigo: "ARQ9006",
        nombre: "Proyecto 9: Proyecto Arquitectónico Integral Conceptual",
        creditos: 6,
        color: "gris",
      },
      {
        codigo: "ARQ9007",
        nombre: "Optativa Abierta VI",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "ARQ9008",
        nombre: "Optativa Abierta V",
        creditos: 5,
        color: "gris",
      },
    ],
  },
  {
    numero: 10,
    materias: [
      {
        codigo: "ARQ10001",
        nombre: "Taller Integral de Edificación",
        creditos: 4,
        color: "negro",
      },
      {
        codigo: "ARQ10002",
        nombre: "Taller Integral de Urbanismo",
        creditos: 4,
        color: "negro",
      },
      {
        codigo: "ARQ10003",
        nombre: "Patologías Edificatorias y Estructurales",
        creditos: 4,
        color: "negro",
      },
      {
        codigo: "ARQ10004",
        nombre: "Proceso del Diseño Bioclimático y Término de Edificios",
        creditos: 4,
        color: "negro",
      },
      {
        codigo: "ARQ10005",
        nombre: "Proyecto 10: Desarrollo de Proyecto Terminal",
        creditos: 8,
        color: "negro",
      },
    ],
  },
];;
// Imports
import centroImg from '@/assets/Imagenes/CardsPlanteles/Centro.webp';
import tlajomulcoImg from '@/assets/Imagenes/CardsPlanteles/Tlajomulco.webp';
import tesistanImg from '@/assets/Imagenes/CardsPlanteles/Tesistan.webp';
import tepatitlanImg from '@/assets/Imagenes/CardsPlanteles/Tepatitlan.webp';
import tonalaImg from '@/assets/Imagenes/CardsPlanteles/Tonala.webp';
import campusPuertoVallartaImg from '@/assets/Imagenes/CardsPlanteles/Campus-Puerto-Vallarta.webp';
import zapopanImg from '@/assets/Imagenes/CardsPlanteles/Zapopan.webp';

// Arreglo actualizado
const planteles = [
 {
   id: "1",
   nombre: "Centro",
   direccion: "Av. República No.10, Col. San Juan de Dios",
   ciudad: "Guadalajara ZMG",
   url: "/plantel-centro",
   imagen: centroImg.src,
   lat: 20.67744801539995,
   lon: -103.34031672627513,
 },
 {
   id: "5",
   nombre: "Tlajomulco",
   direccion: "Av. López Mateos #10100, Col. Los Gavilanes Poniente",
   ciudad: "Guadalajara ZMG",
   url: "/plantel-tlajomulco",
   imagen: tlajomulcoImg.src,
   lat: 20.576464164603113,
   lon: -103.45243680650722,
 },
 {
   id: "6",
   nombre: "Tesistán",
   direccion: "Av. Juan Gil Preciado #3897, Col. Hogares de Nuevo México",
   ciudad: "Guadalajara ZMG",
   url: "/plantel-tesistan",
   imagen: tesistanImg.src,
   lat: 20.806203,
   lon: -102.763903,
 },
 {
   id: "7",
   nombre: "Tepatitlán",
   direccion: "Calle Dr. Ricardo Alcalá #505, Av. Matamoros, Centro",
   ciudad: "Tepatitlán de Morelos",
   url: "/plantel-tepatitlan",
   imagen: tepatitlanImg.src,
   lat: 20.8062946507024,
   lon: -102.76382902869392,
 },
 {
   id: "9",
   nombre: "Tonalá",
   direccion: "Av. Tonaltecas #333, Col. Agua Escondida",
   ciudad: "Guadalajara ZMG",
   url: "/plantel-tonala",
   imagen: tonalaImg.src,
   lat: 20.63176692188573,
   lon: -103.24439406488241,
 },
 {
   id: "16",
   nombre: "Campus Puerto Vallarta",
   codigo: "Campus",
   direccion: "Carretera a Tepic No. 5657 Col. las Juntas C.P 48291",
   ciudad: "Puerto Vallarta",
   url: "/campus/campus-puerto-vallarta",
   imagen: campusPuertoVallartaImg.src,
   lat: "20.69715126066295",
   lon: ", -105.23759816941552",
 },
 {
   id: "11",
   nombre: "Zapopan",
   direccion: "Plaza Caudillos",
   ciudad: "Guadalajara ZMG",
   url: "/plantel-zapopan",
   imagen: zapopanImg.src,
   lat: 20.720900646775917,
   lon: -103.38975281813357,
 },
];
const ciudades = [
  "Guadalajara ZMG",
  "Puerto Vallarta",
  "Tepatitlán de Morelos",
];
---

<Layout
title="Licenciatura en Arquitectura - UNE"
description="Estudia Arquitectura en Universidad UNE. Licenciatura con validez UDG, talleres de diseño, prácticas profesionales y enfoque sustentable.">
  <main class="min-h-screen">
    <!-- Hero Section -->

    <section
      class="relative min-h-[85vh] md:min-h-[65vh] bg-cover bg-center bg-no-repeat"
    >
      {/* Desktop Background */}
      <div
        class="absolute inset-0 hidden md:block bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero.src})` }}
      >
      </div>

      {/* Mobile Background */}
      <div
        class="absolute inset-0 block md:hidden bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero_mobile.src})` }}
      >
      </div>

      {/* Hero Content */}
      <div
        class="relative z-10 container mx-auto px-4 h-full min-h-[85vh] md:min-h-[65vh] flex flex-col justify-center"
      >
        <div class="text-center text-white max-w-4xl mx-auto">
          {/* Main Title */}
          <h1 class="text-4xl md:text-7xl font-bold tracking-wider mb-4">
           Arquitectura
          </h1>
        

          {/* Description */}
          <p
            class="text-lg md:text-xl leading-relaxed mb-16 max-w-3xl mx-auto font-light"
          >
          Diseña el futuro construyendo espacios funcionales, sostenibles y estéticamente atractivos. Da vida a tus ideas a través de la arquitectura.
          </p>
        </div>
      </div>
    </section>

    <!-- Floating Card - ahora está fuera de la sección hero -->
    <div class="relative -top-16 z-20 px-4">
      <div class="bg-azul-une rounded-2xl px-8 shadow-2xl max-w-4xl mx-auto">
        <div
          class="flex flex-col sm:flex-row items-center justify-center gap-6"
        >
          <!-- CTA Buttons -->
          <div
            class="flex flex-col sm:flex-row gap-4 w-full justify-center text-white"
          >
            <!-- Agenda una Visita -->
            <a href="/contacto/solicitarvisita"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-6 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a AGENDA UNA VISITA" title="AGENDA UNA VISITA">
              AGENDA UNA VISITA
              <Calendar size={20} />
            </a>

            <!-- Iniciar Inscripción -->
            <a href="/contacto/formulario-inscripcion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a INICIAR INSCRIPCIÓN" title="INICIAR INSCRIPCIÓN">
              INICIAR INSCRIPCIÓN
              <UserPlus size={20} />
            </a>

            <!-- Contactar -->
             <a href="/contacto/solicitarinformacion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a página de contacto" title="Contactar con nosotros">
              CONTACTAR
              <Phone size={20} />
            </a>
          </div>
        </div>
      </div>
    </div>

   <InformativeCard
  logoSrc={LogoCard.src}
  studentImageSrc={ImagenCard.src}
  title="Objetivo"
  description="Formar arquitectos con competencias técnicas, creativas y éticas para diseñar, proyectar y construir espacios habitables funcionales, sostenibles y estéticamente integrados al entorno social y ambiental, contribuyendo al desarrollo urbano responsable y fomentando su inserción efectiva en el ámbito profesional."
  additionalText=""
  features={[
    { icon: "PenTool", label: "Diseño arquitectónico con enfoque creativo" },
    { icon: "TreeDeciduous", label: "Sostenibilidad ambiental en los proyectos" },
    { icon: "LayoutGrid", label: "Planeación urbana responsable" },
    { icon: "Building2", label: "Integración estética y funcional del entorno" },
    { icon: "Briefcase", label: "Inserción profesional efectiva" },
  ]}
/>


     <PlanEstudios titulo="Propuesta Educativa" semestres={semestresDatos} />

     <Planteles
      titulo="Encuentra tu campus más cercano"
      planteles={planteles}
      ciudades={ciudades}
      mostrarMasCercano={true}
    />

    

    <Requisitos nivel="Licenciatura" requisitos={requisitosInfo} />
         <Planes nombre="Arquitectura"/>


    <FAQComponent
      faqs={faqs}
      title="Preguntas frecuentes"
      subtitle="Encuentra respuestas a las dudas más comunes"
    />

    <CTAinscripcion />
  </main>
</Layout>
