---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/assets/Imagenes/Heros/Cirujano_dentista.webp";
import Hero_mobile from "@/assets/Imagenes/Heros/Cirujano_dentista_mobile.webp";
import ImagenCard from "@/assets/Imagenes/CardsNiveles/Nivel.webp";
import LogoCard from "@/assets/Logos/Licenciatura.webp";
import InformativeCard from "@components/sections/detallesOferta/card.astro";
import Carreras from "@components/sections/Licenciaturas/Carreras.astro";
import Estadisticas from "@components/sections/Licenciaturas/Estadisticas.astro";

import Requisitos from "@/components/sections/detallesOferta/requisitos.astro";

import FAQComponent from "@/components/sections/detallesOferta/preguntas.astro";
import CTAinscripcion from "@/components/sections/shared/ctaInscripcion.astro";
import { Calendar, UserPlus, Phone } from "@lucide/astro";
import PlanEstudios from "@/components/sections/detallesOferta/planEstudios.astro";
import Planteles from "@/components/sections/detallesOferta/planteles.astro";
import Planes from "@/components/sections/detallesOferta/Planes.astro";

const requisitosInfo = {
  items: [
    "Acta de nacimiento (original)",
    "Certificado total de bachillerato (original)",
    "Oficio de validación de autenticidad del certificado de estudios (emitido por la autoridad correspondiente)",
    "Equivalencia o grado superior, certificado parcial y contenidos temáticos",
    "CURP (formato RENAPO)",
    "Identificación oficial con fotografía (INE) - dos copias",
    "Comprobante de domicilio reciente (no mayor a 3 meses) - una copia",
    "Cinco fotografías tamaño infantil, blanco y negro, papel mate, de estudio",
  ],
  pdfUrl: "/pdfs/licenciatura_req.pdf",
};

const faqs = [
  
  {
    question: "¿Cuál es la duración de una licenciatura?",
    answer:
      "Las licenciaturas tienen una duración promedio de 8 a 10 semestres, dependiendo del programa, la institución incorporadora (UDG o SICYT) y la modalidad elegida.",
  },
  {
    question: "¿Qué modalidades de estudio están disponibles?",
    answer:
      "Las licenciaturas pueden cursarse en modalidad presencial, en línea, escolarizada o semiescolarizada, según la carrera y el plantel. Algunas combinan clases presenciales con actividades virtuales.",
  },
  {
    question: "¿Puedo trabajar mientras estudio una licenciatura?",
    answer:
      "Sí. Las modalidades en línea y semiescolarizada están diseñadas para ofrecer mayor flexibilidad y permitir compatibilizar tus estudios con otras actividades.",
  },
  {
    question: "¿Cómo se evalúa el desempeño académico?",
    answer:
      "El sistema de evaluación incluye exámenes, proyectos, participación en clase, trabajos individuales o en equipo y actividades prácticas, según el enfoque de cada licenciatura.",
  },
  {
    question: "¿Qué tipo de apoyo académico se brinda a los estudiantes?",
    answer:
      "La institución ofrece tutorías, asesorías académicas presenciales y virtuales, y acceso a plataformas educativas. En casos específicos, pueden gestionarse apoyos adicionales conforme a criterio institucional.",
  },
  {
    question:
      "¿Las licenciaturas están incorporadas a alguna institución oficial?",
    answer:
      "Sí. Contamos con licenciaturas incorporadas a la Universidad de Guadalajara (UDG) y a la Secretaría de Innovación, Ciencia y Tecnología (SICYT) del Estado de Jalisco, lo que garantiza validez oficial de estudios.",
  },
  {
    question: "¿Dónde puedo obtener más información e inscribirme?",
    answer:
      "Puedes acudir directamente a las oficinas del plantel más cercano o visitar nuestro portal web para consultar la oferta académica, requisitos y fechas de inscripción.",
  },
];

const semestresDatos = [
  {
    numero: 1,
    materias: [
      {
        codigo: "ODO101",
        nombre: "Análisis de Problemas Globales del Siglo XXI",
        creditos: 0,
        color: "verde",
      },
      {
        codigo: "ODO102",
        nombre: "Bioética y Universidad",
        creditos: 7,
        color: "verde",
      },
      {
        codigo: "ODO103",
        nombre: "Bioquímica Humana",
        creditos: 12,
        color: "verde",
      },
      {
        codigo: "ODO104",
        nombre: "Anatomía Bucal",
        creditos: 8,
        color: "verde",
      },
      {
        codigo: "ODO105",
        nombre: "Anatomía de Cabeza y Cuello",
        creditos: 13,
        color: "verde",
      },
      {
        codigo: "ODO106",
        nombre: "Histología y Embriología Bucal",
        creditos: 11,
        color: "verde",
      },
      {
        codigo: "ODO107",
        nombre: "Materiales Dentales I",
        creditos: 6,
        color: "verde",
      },
      {
        codigo: "ODO108",
        nombre: "Historia de la Odontología",
        creditos: 2,
        color: "verde",
      },
    ],
  },
  {
    numero: 2,
    materias: [
      {
        codigo: "ODO201",
        nombre: "Alimentación, Nutrición y Sociedad",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "ODO202",
        nombre: "Fundamentos de Fisiología",
        creditos: 12,
        color: "amarillo",
      },
      {
        codigo: "ODO203",
        nombre: "Salud Pública",
        creditos: 7,
        color: "amarillo",
      },
      {
        codigo: "ODO204",
        nombre: "Sexualidad Humana",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "ODO205",
        nombre: "Bioquímica Bucal",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "ODO206",
        nombre: "Materiales Dentales II",
        creditos: 6,
        color: "amarillo",
      },
      {
        codigo: "ODO207",
        nombre: "Microbiología Bucal",
        creditos: 7,
        color: "amarillo",
      },
      {
        codigo: "ODO208",
        nombre: "Patología General",
        creditos: 6,
        color: "amarillo",
      },
      {
        codigo: "ODO209",
        nombre: "Reanimación Cardiopulmonar y Terapia Eléctrica",
        creditos: 1,
        color: "amarillo",
      },
    ],
  },
  {
    numero: 3,
    materias: [
      {
        codigo: "ODO301",
        nombre: "Cariología",
        creditos: 4,
        color: "naranja",
      },
      {
        codigo: "ODO302",
        nombre: "Farmacología Odontológica",
        creditos: 9,
        color: "naranja",
      },
      {
        codigo: "ODO303",
        nombre: "Imagenología Odontológica",
        creditos: 8,
        color: "naranja",
      },
      {
        codigo: "ODO304",
        nombre: "Manejo del Paciente Odontológico",
        creditos: 2,
        color: "naranja",
      },
      {
        codigo: "ODO305",
        nombre: "Odontología Preventiva",
        creditos: 6,
        color: "naranja",
      },
      {
        codigo: "ODO306",
        nombre: "Patología Bucal",
        creditos: 7,
        color: "naranja",
      },
      {
        codigo: "ODO307",
        nombre: "Propedéutica y Semiología I",
        creditos: 7,
        color: "naranja",
      },
      {
        codigo: "ODO308",
        nombre: "Seguridad Ocupacional en la Práctica Odontológica",
        creditos: 6,
        color: "naranja",
      },
      {
        codigo: "ODO309",
        nombre: "Inmunología Estomatológica",
        creditos: 4,
        color: "naranja",
      },
      {
        codigo: "ODO310",
        nombre: "Técnicas Quirúrgicas Odontológicas",
        creditos: 7,
        color: "naranja",
      },
      {
        codigo: "ODO311",
        nombre: "Fotografía Clínica",
        creditos: 4,
        color: "naranja",
      },
    ],
  },
  {
    numero: 4,
    materias: [
      {
        codigo: "ODO401",
        nombre: "Comunicación y Tecnologías de la Información",
        creditos: 3,
        color: "rojo",
      },
      {
        codigo: "ODO402",
        nombre: "Anestesiología Bucal",
        creditos: 8,
        color: "rojo",
      },
      {
        codigo: "ODO403",
        nombre: "Endodoncia I",
        creditos: 7,
        color: "rojo",
      },
      {
        codigo: "ODO404",
        nombre: "Exodoncia I",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "ODO405",
        nombre: "Oclusión",
        creditos: 6,
        color: "rojo",
      },
      {
        codigo: "ODO406",
        nombre: "Periodoncia I",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "ODO407",
        nombre: "Prácticas Clínicas Propedéuticas I",
        creditos: 3,
        color: "rojo",
      },
      {
        codigo: "ODO408",
        nombre: "Propedéutica y Semiología II",
        creditos: 6,
        color: "rojo",
      },
      {
        codigo: "ODO409",
        nombre: "Técnica de Operatoria Dental I",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "ODO410",
        nombre: "Medicina Interna en Odontología",
        creditos: 3,
        color: "rojo",
      },
    ],
  },
  {
    numero: 5,
    materias: [
      {
        codigo: "ODO501",
        nombre: "Metodología de la Investigación",
        creditos: 7,
        color: "morado",
      },
      {
        codigo: "ODO502",
        nombre: "Clínica Operatoria Dental I",
        creditos: 7,
        color: "morado",
      },
      {
        codigo: "ODO503",
        nombre: "Endodoncia II",
        creditos: 7,
        color: "morado",
      },
      {
        codigo: "ODO504",
        nombre: "Exodoncia II",
        creditos: 7,
        color: "morado",
      },
      {
        codigo: "ODO505",
        nombre: "Periodoncia II",
        creditos: 7,
        color: "morado",
      },
      {
        codigo: "ODO506",
        nombre: "Prácticas Clínicas Propedéuticas II",
        creditos: 3,
        color: "morado",
      },
      {
        codigo: "ODO507",
        nombre: "Técnica de Operatoria Dental II",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "ODO508",
        nombre: "Urgencias Médico-Quirúrgicas en Odontología",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "ODO509",
        nombre: "Epidemiología de la Salud Bucal",
        creditos: 6,
        color: "morado",
      },
    ],
  },
  {
    numero: 6,
    materias: [
      {
        codigo: "ODO601",
        nombre: "Clínica de Operatoria Dental II",
        creditos: 7,
        color: "azul",
      },
      {
        codigo: "ODO602",
        nombre: "Endodoncia III",
        creditos: 7,
        color: "azul",
      },
      {
        codigo: "ODO603",
        nombre: "Exodoncia III",
        creditos: 7,
        color: "azul",
      },
      {
        codigo: "ODO604",
        nombre: "Odontología Sanitaria",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "ODO605",
        nombre: "Periodoncia III",
        creditos: 7,
        color: "azul",
      },
      {
        codigo: "ODO606",
        nombre: "Prácticas Clínicas Propedéuticas III",
        creditos: 3,
        color: "azul",
      },
      {
        codigo: "ODO607",
        nombre: "Prostodoncia Parcial Fija I",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "ODO608",
        nombre: "Prostodoncia Total I",
        creditos: 8,
        color: "azul",
      },
      {
        codigo: "ODO609",
        nombre: "Estadística",
        creditos: 4,
        color: "azul",
      },
    ],
  },
  {
    numero: 7,
    materias: [
      {
        codigo: "ODO701",
        nombre: "Sociedad y Salud",
        creditos: 4,
        color: "rosa",
      },
      {
        codigo: "ODO702",
        nombre: "Cirugía Bucal I",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "ODO703",
        nombre: "Odontología Comunitaria",
        creditos: 3,
        color: "rosa",
      },
      {
        codigo: "ODO704",
        nombre: "Odontopediatría I",
        creditos: 7,
        color: "rosa",
      },
      {
        codigo: "ODO705",
        nombre: "Prácticas Clínicas Propedéuticas IV",
        creditos: 3,
        color: "rosa",
      },
      {
        codigo: "ODO706",
        nombre: "Prostodoncia Parcial Fija II",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "ODO707",
        nombre: "Prostodoncia Parcial Removible I",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "ODO708",
        nombre: "Prostodoncia Total II",
        creditos: 3,
        color: "rosa",
      },
      {
        codigo: "ODO709",
        nombre: "Desarrollo del Protocolo I",
        creditos: 4,
        color: "rosa",
      },
      {
        codigo: "ODO710",
        nombre: "Disfunción de la Articulación Temporomandibular",
        creditos: 3,
        color: "rosa",
      },
    ],
  },
  {
    numero: 8,
    materias: [
      {
        codigo: "ODO801",
        nombre: "Cirugía Bucal II",
        creditos: 7,
        color: "gris",
      },
      {
        codigo: "ODO802",
        nombre: "Diseño y Administración del Consultorio Dental",
        creditos: 3,
        color: "gris",
      },
      {
        codigo: "ODO803",
        nombre: "Odontopediatría II",
        creditos: 7,
        color: "gris",
      },
      {
        codigo: "ODO804",
        nombre: "Ortodoncia I",
        creditos: 6,
        color: "gris",
      },
      {
        codigo: "ODO805",
        nombre: "Prostodoncia Parcial Fija III",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "ODO806",
        nombre: "Prostodoncia Parcial Removible II",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "ODO807",
        nombre: "Desarrollo del Protocolo II",
        creditos: 4,
        color: "gris",
      },
      {
        codigo: "ODO808",
        nombre: "Redacción de Documentos Científicos",
        creditos: 3,
        color: "gris",
      },
      {
        codigo: "ODO809",
        nombre: "Genética Craneofacial",
        creditos: 4,
        color: "gris",
      },
      {
        codigo: "ODO810",
        nombre: "Seminario de Casos Clínicos",
        creditos: 4,
        color: "gris",
      },
    ],
  },
  {
    numero: 9,
    materias: [
      {
        codigo: "ODO901",
        nombre: "Mantenimiento y Conservación de la Prótesis Bucodental",
        creditos: 2,
        color: "negro",
      },
      {
        codigo: "ODO902",
        nombre: "Odontogeriatría",
        creditos: 7,
        color: "negro",
      },
      {
        codigo: "ODO903",
        nombre: "Ortodoncia II",
        creditos: 7,
        color: "negro",
      },
      {
        codigo: "ODO904",
        nombre: "Prácticas Profesionales en Clínica Integral Adultos",
        creditos: 13,
        color: "negro",
      },
      {
        codigo: "ODO905",
        nombre: "Prácticas Profesionales en Clínica Integral Niños",
        creditos: 8,
        color: "negro",
      },
      {
        codigo: "ODO906",
        nombre: "Seminario de Investigación Odontológica",
        creditos: 4,
        color: "negro",
      },
      {
        codigo: "ODO907",
        nombre: "Cirugía Maxilofacial",
        creditos: 4,
        color: "negro",
      },
      {
        codigo: "ODO908",
        nombre: "Actualidades en Salud",
        creditos: 4,
        color: "negro",
      },
    ],
  },
];

const planteles = [
  {
    id: "7",
    nombre: "Tepatitlán",
    direccion: "Calle Dr. Ricardo Alcalá #505, Av. Matamoros, Centro",
    ciudad: "Tepatitlán de Morelos",
    url: "/plantel-tepatitlan",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Tepatitlan.webp",
    lat: 20.8062946507024,
    lon: -102.76382902869392,
  },

  {
    id: "9",
    nombre: "Tonalá",
    direccion: "Av. Tonaltecas #333, Col. Agua Escondida",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-tonala",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Tonala.webp",
    lat: 20.63176692188573,
    lon: -103.24439406488241,
  },
  {
    id: "10",
    nombre: "Chapultepec",
    direccion: "Av. Vallarta #1458, Col. Americana",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-vallarta",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Chapultepec.webp",
    lat: 20.67471004174908,
    lon: -103.36909119392195,
  },
  {
    id: "11",
    nombre: "Zapopan",
    direccion: "Plaza Caudillos",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-zapopan",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Zapopan.webp",
    lat: 20.720900646775917,
    lon: -103.38975281813357,
  },
  {
    id: "16",
    nombre: "Las juntas",
    codigo: "Campus",
    direccion: "Carretera a Tepic No. 5657 Col. las Juntas C.P 48291",
    ciudad: "Puerto Vallarta",
    url: "/planteles/las-juntas",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Lasjuntas.webp",
    lat: "20.696969737332573",
    lon: "-105.23743730076278",
  },
  {
    id: "14",
    nombre: "Torre UNE Milenio",
    codigo: "TORRE MILENIO",
    direccion: "Av. López Mateos Sur #4175 Col. La Giralda Zapopan, Jalisco",
    ciudad: "Guadalajara ZMG",
    url: "/campus/Torre-milenio",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Torre-milenio.webp",
    lat: "20.645336",
    lon: "-103.405938",
  },
];

const ciudades = [
  "Guadalajara ZMG",
  "Puerto Vallarta",
  "Tepatitlán de Morelos",
];
---

<Layout
title="Licenciatura en Cirujano Dentista - UNE"
description="Estudia Cirujano Dentista en Universidad UNE. Licenciatura con validez UDG, clínicas dentales, tecnología moderna y prácticas profesionales.">
  <main class="min-h-screen">
    <!-- Hero Section -->

    <section
      class="relative min-h-[85vh] md:min-h-[65vh] bg-cover bg-center bg-no-repeat"
    >
      {/* Desktop Background */}
      <div
        class="absolute inset-0 hidden md:block bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero.src})` }}
      >
      </div>

      {/* Mobile Background */}
      <div
        class="absolute inset-0 block md:hidden bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero_mobile.src})` }}
      >
      </div>

      {/* Hero Content */}
      <div
        class="relative z-10 container mx-auto px-4 h-full min-h-[85vh] md:min-h-[65vh] flex flex-col justify-center"
      >
        <div class="text-center text-white max-w-4xl mx-auto">
          {/* Main Title */}
          <h1 class="text-4xl md:text-7xl font-bold tracking-wider mb-4">
            Lic. en Cirujano Dentista
          </h1>
          <h2 class="text-2xl md:text-5xl font-bold tracking-wider mb-8">
            Licenciaturas UNE
          </h2>

          {/* Description */}
          <p
            class="text-lg md:text-xl leading-relaxed mb-16 max-w-3xl mx-auto font-light"
          >
            Transforma sonrisas y mejora la calidad de vida a través del estudio
            y la práctica de la odontología, en una carrera donde la ciencia, la
            salud y la vocación por el bienestar se unen.
          </p>
        </div>
      </div>
    </section>

    <!-- Floating Card - ahora está fuera de la sección hero -->
    <div class="relative -top-16 z-20 px-4">
      <div class="bg-azul-une rounded-2xl px-8 shadow-2xl max-w-4xl mx-auto">
        <div
          class="flex flex-col sm:flex-row items-center justify-center gap-6"
        >
          <!-- CTA Buttons -->
          <div
            class="flex flex-col sm:flex-row gap-4 w-full justify-center text-white"
          >
            <!-- Agenda una Visita -->
            <a
              href="/contacto/solicitarvisita"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-6 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a AGENDA UNA VISITA" title="AGENDA UNA VISITA">
              AGENDA UNA VISITA
              <Calendar size={20} />
            </a>

            <!-- Iniciar Inscripción -->
            <a
              href="/contacto/formulario-inscripcion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a INICIAR INSCRIPCIÓN" title="INICIAR INSCRIPCIÓN">
              INICIAR INSCRIPCIÓN
              <UserPlus size={20} />
            </a>

            <!-- Contactar -->
            <a
              href="/contacto/solicitarinformacion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a página de contacto" title="Contactar con nosotros">
              CONTACTAR
              <Phone size={20} />
            </a>
          </div>
        </div>
      </div>
    </div>

    <InformativeCard
      logoSrc={LogoCard.src}
      studentImageSrc={ImagenCard.src}
      title="Objetivo"
      description="La Licenciatura en Cirujano Dentista te forma como un profesionista altamente capacitado para prevenir, diagnosticar y tratar enfermedades bucales con un enfoque integral y humano."
      additionalText="Con una sólida formación teórico-práctica y un alto compromiso ético y social, estarás preparado para promover la salud bucodental, brindar atención personalizada y colaborar con instituciones de salud para transformar positivamente la calidad de vida de las personas."
      features={[
        { icon: "CalendarDays", label: "Prácticas clínicas presenciales" },
        { icon: "BookOpen", label: "Bases científicas sólidas" },
        { icon: "School", label: "Validez oficial" },
        { icon: "Clock", label: "Horarios accesibles" },
        { icon: "BookmarkCheck", label: "Enfoque profesionalizante" },
      ]}
    />

    <PlanEstudios titulo="Propuesta Educativa" semestres={semestresDatos} />

    <Planteles
      titulo="Encuentra tu campus más cercano"
      planteles={planteles}
      ciudades={ciudades}
      mostrarMasCercano={true}
    />

    <Requisitos nivel="Licenciatura" requisitos={requisitosInfo} />

         <Planes nombre="Cirujano Dentista"/>


    <FAQComponent
      faqs={faqs}
      title="Preguntas frecuentes"
      subtitle="Encuentra respuestas a las dudas más comunes"
    />

    <CTAinscripcion />
  </main>
</Layout>
