---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/assets/Imagenes/Heros/Carreras/NegociasInternacionales.webp";
import Hero_mobile from "@/assets/Imagenes/Heros/Carreras/NegociasInternacionales_mobile.webp";
import ImagenCard from "@/assets/Imagenes/CardsNiveles/Nivel.webp";
import LogoCard from "@/assets/Logos/Licenciatura.webp";
import InformativeCard from "@components/sections/detallesOferta/card.astro";

import Requisitos from "@/components/sections/detallesOferta/requisitos.astro";

import FAQComponent from "@/components/sections/detallesOferta/preguntas.astro";
import CTAinscripcion from "@/components/sections/shared/ctaInscripcion.astro";
import { Calendar, UserPlus, Phone } from "@lucide/astro";
import PlanEstudios from "@/components/sections/detallesOferta/planEstudios.astro";
import Planteles from "@/components/sections/detallesOferta/planteles.astro";
import Planes from "@/components/sections/detallesOferta/Planes.astro";

const requisitosInfo = {
  items: [
    "Acta de nacimiento (original)",
    "Certificado total de bachillerato (original)",
    "Oficio de validación de autenticidad del certificado de estudios (emitido por la autoridad correspondiente)",
    "Equivalencia o grado superior, certificado parcial y contenidos temáticos",
    "CURP (formato RENAPO)",
    "Identificación oficial con fotografía (INE) - dos copias",
    "Comprobante de domicilio reciente (no mayor a 3 meses) - una copia",
    "Cinco fotografías tamaño infantil, blanco y negro, papel mate, de estudio"
  ],
  pdfUrl: "/pdfs/licenciatura_req.pdf",
};

const faqs = [
  
  {
    question: "¿Cuál es la duración de una licenciatura?",
    answer:
      "Las licenciaturas tienen una duración promedio de 8 a 10 semestres, dependiendo del programa, la institución incorporadora (UDG o SICYT) y la modalidad elegida.",
  },
  {
    question: "¿Qué modalidades de estudio están disponibles?",
    answer:
      "Las licenciaturas pueden cursarse en modalidad presencial, en línea, escolarizada o semiescolarizada, según la carrera y el plantel. Algunas combinan clases presenciales con actividades virtuales.",
  },
  {
    question: "¿Puedo trabajar mientras estudio una licenciatura?",
    answer:
      "Sí. Las modalidades en línea y semiescolarizada están diseñadas para ofrecer mayor flexibilidad y permitir compatibilizar tus estudios con otras actividades.",
  },
  {
    question: "¿Cómo se evalúa el desempeño académico?",
    answer:
      "El sistema de evaluación incluye exámenes, proyectos, participación en clase, trabajos individuales o en equipo y actividades prácticas, según el enfoque de cada licenciatura.",
  },
  {
    question: "¿Qué tipo de apoyo académico se brinda a los estudiantes?",
    answer:
      "La institución ofrece tutorías, asesorías académicas presenciales y virtuales, y acceso a plataformas educativas. En casos específicos, pueden gestionarse apoyos adicionales conforme a criterio institucional.",
  },
  {
    question:
      "¿Las licenciaturas están incorporadas a alguna institución oficial?",
    answer:
      "Sí. Contamos con licenciaturas incorporadas a la Universidad de Guadalajara (UDG) y a la Secretaría de Innovación, Ciencia y Tecnología (SICYT) del Estado de Jalisco, lo que garantiza validez oficial de estudios.",
  },
  {
    question: "¿Dónde puedo obtener más información e inscribirme?",
    answer:
      "Puedes acudir directamente a las oficinas del plantel más cercano o visitar nuestro portal web para consultar la oferta académica, requisitos y fechas de inscripción.",
  },
];

const semestresDatos = [
  {
    numero: 1,
    nombre: "PRIMER CUATRIMESTRE",
    materias: [
      {
        codigo: "LCN101",
        nombre: "Estrategias de Aprendizaje a Distancia",
        creditos: 8,
        color: "verde",
        area: "CIENCIAS SOCIALES Y JURÍDICAS"
      },
      {
        codigo: "LCN102",
        nombre: "Mercado y Competencia Internacional",
        creditos: 8,
        color: "verde",
        area: "MERCADOTECNIA Y COMERCIO INTERNACIONAL"
      },
      {
        codigo: "LCN103",
        nombre: "Metodología de la Investigación",
        creditos: 8,
        color: "verde",
        area: "ECONOMÍA Y FINANZAS"
      }
    ]
  },
  {
    numero: 2,
    nombre: "SEGUNDO CUATRIMESTRE",
    materias: [
      {
        codigo: "LCN201",
        nombre: "Matemáticas Financieras",
        creditos: 8,
        color: "amarillo",
        area: "MÉTODOS CUANTITATIVOS"
      },
      {
        codigo: "LCN202",
        nombre: "Cotizaciones y Mercado de Divisas",
        creditos: 8,
        color: "amarillo",
        area: "CONTABILIDAD"
      },
      {
        codigo: "LCN203",
        nombre: "Microeconomía",
        creditos: 8,
        color: "amarillo",
        area: "DISCIPLINAS AUXILIARES"
      }
    ]
  },
  {
    numero: 3,
    nombre: "TERCER CUATRIMESTRE",
    materias: [
      {
        codigo: "LCN301",
        nombre: "Estadística para los Negocios",
        creditos: 10,
        color: "naranja",
        area: "MÉTODOS CUANTITATIVOS"
      },
      {
        codigo: "LCN302",
        nombre: "Bases Contables",
        creditos: 8,
        color: "naranja",
        area: "CONTABILIDAD"
      },
      {
        codigo: "LCN303",
        nombre: "Macroeconomía",
        creditos: 8,
        color: "naranja",
        area: "DISCIPLINAS AUXILIARES"
      }
    ]
  },
  {
    numero: 4,
    nombre: "CUARTO CUATRIMESTRE",
    materias: [
      {
        codigo: "LCN401",
        nombre: "Investigación de Mercados",
        creditos: 8,
        color: "rojo",
        area: "MÉTODOS CUANTITATIVOS"
      },
      {
        codigo: "LCN402",
        nombre: "Contabilidad de Costos",
        creditos: 8,
        color: "rojo",
        area: "CONTABILIDAD"
      },
      {
        codigo: "LCN403",
        nombre: "Derecho Mercantil",
        creditos: 8,
        color: "rojo",
        area: "DISCIPLINAS AUXILIARES"
      }
    ]
  },
  {
    numero: 5,
    nombre: "QUINTO CUATRIMESTRE",
    materias: [
      {
        codigo: "LCN501",
        nombre: "Comercialización Internacional",
        creditos: 8,
        color: "morado",
        area: "MÉTODOS CUANTITATIVOS"
      },
      {
        codigo: "LCN502",
        nombre: "Contabilidad de Finanzas",
        creditos: 8,
        color: "morado",
        area: "CONTABILIDAD"
      },
      {
        codigo: "LCN503",
        nombre: "Derecho Laboral",
        creditos: 8,
        color: "morado",
        area: "DISCIPLINAS AUXILIARES"
      }
    ]
  },
  {
    numero: 6,
    nombre: "SEXTO CUATRIMESTRE",
    materias: [
      {
        codigo: "LCN601",
        nombre: "Geografía Económica y Política",
        creditos: 8,
        color: "azul",
        area: "MÉTODOS CUANTITATIVOS"
      },
      {
        codigo: "LCN602",
        nombre: "Transportación y Canales de Distribución Internacional",
        creditos: 8,
        color: "azul",
        area: "CONTABILIDAD"
      },
      {
        codigo: "LCN603",
        nombre: "Derecho Fiscal",
        creditos: 8,
        color: "azul",
        area: "DISCIPLINAS AUXILIARES"
      }
    ]
  },
  {
    numero: 7,
    nombre: "SÉPTIMO CUATRIMESTRE",
    materias: [
      {
        codigo: "LCN701",
        nombre: "Política Comercial Internacional",
        creditos: 8,
        color: "cyan",
        area: "MÉTODOS CUANTITATIVOS"
      },
      {
        codigo: "LCN702",
        nombre: "Finanzas Empresariales",
        creditos: 8,
        color: "cyan",
        area: "CONTABILIDAD"
      },
      {
        codigo: "LCN703",
        nombre: "Análisis y Clasificación Arancelaria",
        creditos: 8,
        color: "cyan",
        area: "DISCIPLINAS AUXILIARES"
      }
    ]
  },
  {
    numero: 8,
    nombre: "OCTAVO CUATRIMESTRE",
    materias: [
      {
        codigo: "LCN801",
        nombre: "Administración de la Cadena de Suministro",
        creditos: 8,
        color: "rosa",
        area: "MÉTODOS CUANTITATIVOS"
      },
      {
        codigo: "LCN802",
        nombre: "Tratados Comerciales Internacionales",
        creditos: 8,
        color: "rosa",
        area: "CONTABILIDAD"
      },
      {
        codigo: "LCN803",
        nombre: "Legislación Aduanera Aplicada",
        creditos: 8,
        color: "rosa",
        area: "DISCIPLINAS AUXILIARES"
      }
    ]
  },
  {
    numero: 9,
    nombre: "NOVENO CUATRIMESTRE",
    materias: [
      {
        codigo: "LCN901",
        nombre: "Mercadotecnia Global",
        creditos: 10,
        color: "gris",
        area: "MÉTODOS CUANTITATIVOS"
      },
      {
        codigo: "LCN902",
        nombre: "Estrategias de Comercialización en Redes Sociales",
        creditos: 8,
        color: "gris",
        area: "CONTABILIDAD"
      },
      {
        codigo: "LCN903",
        nombre: "Legislación Comercial Internacional",
        creditos: 8,
        color: "gris",
        area: "DISCIPLINAS AUXILIARES"
      }
    ]
  },
  {
    numero: 10,
    nombre: "DÉCIMO CUATRIMESTRE",
    materias: [
      {
        codigo: "LCN1001",
        nombre: "Seminario de Comercio y Negocios",
        creditos: 8,
        color: "negro",
        area: "MÉTODOS CUANTITATIVOS"
      },
      {
        codigo: "LCN1002",
        nombre: "Dirección de Plan de Exportación",
        creditos: 8,
        color: "negro",
        area: "CONTABILIDAD"
      },
      {
        codigo: "LCN1003",
        nombre: "Análisis Económico",
        creditos: 8,
        color: "negro",
        area: "DISCIPLINAS AUXILIARES"
      }
    ]
  }
];

const planteles = [

  {
    id: "11",
    nombre: "UNE en línea",
    direccion: "ZMG",
    ciudad: "Guadalajara ZMG",
    url: "/Une en líena",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Zapopan.webp",
    lat: 20.720900646775917,
    lon: -103.38975281813357,
  },
];

const ciudades = [
  "Guadalajara ZMG",
  "Puerto Vallarta",
  "Tepatitlán de Morelos",
];
---

<Layout
title="Licenciatura en Comercio y Negocios Globales - UNE"
description="Licenciatura en Comercio y Negocios Globales en Universidad UNE. Carrera con validez UDG, enfoque internacional y comercio exterior.">
  <main class="min-h-screen">
    <!-- Hero Section -->

    <section
      class="relative min-h-[85vh] md:min-h-[65vh] bg-cover bg-center bg-no-repeat"
    >
      {/* Desktop Background */}
      <div
        class="absolute inset-0 hidden md:block bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero.src})` }}
      >
      </div>

      {/* Mobile Background */}
      <div
        class="absolute inset-0 block md:hidden bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero_mobile.src})` }}
      >
      </div>

      {/* Hero Content */}
      <div
        class="relative z-10 container mx-auto px-4 h-full min-h-[85vh] md:min-h-[65vh] flex flex-col justify-center"
      >
        <div class="text-center text-white max-w-4xl mx-auto">
          {/* Main Title */}
          <h1 class="text-4xl md:text-7xl font-bold tracking-wider mb-4">
            Lic. en Comercio y Negocios Globales - UNE
          </h1>
        
          {/* Description */}
          <p
            class="text-lg md:text-xl leading-relaxed mb-16 max-w-3xl mx-auto font-light"
          >
            Adquiere una visión global del comercio, la logística y las relaciones empresariales internacionales.
          </p>
        </div>
      </div>
    </section>

    <!-- Floating Card - ahora está fuera de la sección hero -->
    <div class="relative -top-16 z-20 px-4">
      <div class="bg-azul-une rounded-2xl px-8 shadow-2xl max-w-4xl mx-auto">
        <div
          class="flex flex-col sm:flex-row items-center justify-center gap-6"
        >
          <!-- CTA Buttons -->
          <div
            class="flex flex-col sm:flex-row gap-4 w-full justify-center text-white"
          >
            <!-- Agenda una Visita -->
            <a href="/contacto/solicitarvisita"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-6 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a AGENDA UNA VISITA" title="AGENDA UNA VISITA">
              AGENDA UNA VISITA
              <Calendar size={20} />
            </a>

            <!-- Iniciar Inscripción -->
            <a href="/contacto/formulario-inscripcion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a INICIAR INSCRIPCIÓN" title="INICIAR INSCRIPCIÓN">
              INICIAR INSCRIPCIÓN
              <UserPlus size={20} />
            </a>

            <!-- Contactar -->
             <a href="/contacto/solicitarinformacion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a página de contacto" title="Contactar con nosotros">
              CONTACTAR
              <Phone size={20} />
            </a>
          </div>
        </div>
      </div>
    </div>

    <InformativeCard
      logoSrc={LogoCard.src}
      studentImageSrc={ImagenCard.src}
      title="Objetivo"
      description="Formar profesionales con competencias en comercio exterior, finanzas globales y negociación internacional, capaces de gestionar operaciones transnacionales con eficiencia, ética y responsabilidad social, promoviendo la integración económica, la competitividad empresarial y el desarrollo sostenible a nivel global."
      additionalText=""
      features={[
        { icon: "CalendarDays", label: "Prácticas clínicas presenciales" },
        { icon: "BookOpen", label: "Bases científicas sólidas" },
        { icon: "School", label: "Validez oficial" },
        { icon: "Clock", label: "Horarios accesibles" },
        { icon: "BookmarkCheck", label: "Enfoque profesionalizante" },
      ]}
    />

     <PlanEstudios titulo="Propuesta Educativa" semestres={semestresDatos} />

    

    

    <Requisitos nivel="Licenciatura" requisitos={requisitosInfo} />
         <Planes nombre="Comercio y Negocios Globales En línea"/>


    <FAQComponent
      faqs={faqs}
      title="Preguntas frecuentes"
      subtitle="Encuentra respuestas a las dudas más comunes"
    />

    <CTAinscripcion />
  </main>
</Layout>
