---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/assets/Imagenes/Heros/Carreras/IngQuimica.webp";
import Hero_mobile from "@/assets/Imagenes/Heros/Carreras/IngQuimica_mobile.webp";
import ImagenCard from "@/assets/Imagenes/CardsNiveles/Nivel.webp";
import LogoCard from "@/assets/Logos/Licenciatura.webp";
import InformativeCard from "@components/sections/detallesOferta/card.astro";
import Requisitos from "@/components/sections/detallesOferta/requisitos.astro";

import FAQComponent from "@/components/sections/detallesOferta/preguntas.astro";
import CTAinscripcion from "@/components/sections/shared/ctaInscripcion.astro";
import { Calendar, UserPlus, Phone } from "@lucide/astro";
import PlanEstudios from "@/components/sections/detallesOferta/planEstudios.astro";
import Planteles from "@/components/sections/detallesOferta/planteles.astro";

const requisitosInfo = {
  items: [
    "Acta de nacimiento (original)",
    "Certificado total de bachillerato (original)",
    "Oficio de validación de autenticidad del certificado de estudios (emitido por la autoridad correspondiente)",
    "Equivalencia o grado superior, certificado parcial y contenidos temáticos",
    "CURP (formato RENAPO)",
    "Identificación oficial con fotografía (INE) - dos copias",
    "Comprobante de domicilio reciente (no mayor a 3 meses) - una copia",
    "Cinco fotografías tamaño infantil, blanco y negro, papel mate, de estudio",
  ],
  pdfUrl: "/pdfs/licenciatura_req.pdf",
};

const faqs = [
  
  {
    question: "¿Cuál es la duración de una licenciatura?",
    answer:
      "Las licenciaturas tienen una duración promedio de 8 a 10 semestres, dependiendo del programa, la institución incorporadora (UDG o SICYT) y la modalidad elegida.",
  },
  {
    question: "¿Qué modalidades de estudio están disponibles?",
    answer:
      "Las licenciaturas pueden cursarse en modalidad presencial, en línea, escolarizada o semiescolarizada, según la carrera y el plantel. Algunas combinan clases presenciales con actividades virtuales.",
  },
  {
    question: "¿Puedo trabajar mientras estudio una licenciatura?",
    answer:
      "Sí. Las modalidades en línea y semiescolarizada están diseñadas para ofrecer mayor flexibilidad y permitir compatibilizar tus estudios con otras actividades.",
  },
  {
    question: "¿Cómo se evalúa el desempeño académico?",
    answer:
      "El sistema de evaluación incluye exámenes, proyectos, participación en clase, trabajos individuales o en equipo y actividades prácticas, según el enfoque de cada licenciatura.",
  },
  {
    question: "¿Qué tipo de apoyo académico se brinda a los estudiantes?",
    answer:
      "La institución ofrece tutorías, asesorías académicas presenciales y virtuales, y acceso a plataformas educativas. En casos específicos, pueden gestionarse apoyos adicionales conforme a criterio institucional.",
  },
  {
    question:
      "¿Las licenciaturas están incorporadas a alguna institución oficial?",
    answer:
      "Sí. Contamos con licenciaturas incorporadas a la Universidad de Guadalajara (UDG) y a la Secretaría de Innovación, Ciencia y Tecnología (SICYT) del Estado de Jalisco, lo que garantiza validez oficial de estudios.",
  },
  {
    question: "¿Dónde puedo obtener más información e inscribirme?",
    answer:
      "Puedes acudir directamente a las oficinas del plantel más cercano o visitar nuestro portal web para consultar la oferta académica, requisitos y fechas de inscripción.",
  },
];

const semestresDatos = [
  {
    numero: 1,
    materias: [
      {
        codigo: "IQM101",
        nombre: "Cálculo I",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "IQM102",
        nombre: "Química General I",
        creditos: 6,
        color: "verde",
      },
      {
        codigo: "IQM103",
        nombre: "Introducción al Diseño",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "IQM104",
        nombre: "Estadística",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "IQM105",
        nombre: "Comunicación Oral y Escrita",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "IQM106",
        nombre: "Álgebra Lineal",
        creditos: 6,
        color: "verde",
      },
    ],
  },
  {
    numero: 2,
    materias: [
      {
        codigo: "IQM201",
        nombre: "Cálculo II",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "IQM202",
        nombre: "Química General II",
        creditos: 6,
        color: "amarillo",
      },
      {
        codigo: "IQM203",
        nombre: "Mecánica",
        creditos: 6,
        color: "amarillo",
      },
      {
        codigo: "IQM204",
        nombre: "Programación",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "IQM205",
        nombre: "Estadística Avanzada",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "IQM206",
        nombre: "Bioquímica",
        creditos: 6,
        color: "amarillo",
      },
    ],
  },
  {
    numero: 3,
    materias: [
      {
        codigo: "IQM301",
        nombre: "Química Orgánica I",
        creditos: 6,
        color: "naranja",
      },
      {
        codigo: "IQM302",
        nombre: "Cálculo Avanzado",
        creditos: 5,
        color: "naranja",
      },
      {
        codigo: "IQM303",
        nombre: "Química Inorgánica",
        creditos: 6,
        color: "naranja",
      },
      {
        codigo: "IQM304",
        nombre: "Ecuaciones Diferenciales",
        creditos: 6,
        color: "naranja",
      },
      {
        codigo: "IQM305",
        nombre: "Fisicoquímica I",
        creditos: 5,
        color: "naranja",
      },
      {
        codigo: "IQM306",
        nombre: "Electricidad y Magnetismo",
        creditos: 5,
        color: "naranja",
      },
    ],
  },
  {
    numero: 4,
    materias: [
      {
        codigo: "IQM401",
        nombre: "Química Orgánica II",
        creditos: 6,
        color: "rojo",
      },
      {
        codigo: "IQM402",
        nombre: "Balances de Materia y Energía",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "IQM403",
        nombre: "Fisicoquímica II",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "IQM404",
        nombre: "Introducción a los Fenómenos de Transporte",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "IQM405",
        nombre: "Termodinámica",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "IQM406",
        nombre: "Ingeniería Ambiental",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "IQM407",
        nombre: "Matemáticas Aplicadas a la Ingeniería Química",
        creditos: 5,
        color: "rojo",
      },
    ],
  },
  {
    numero: 5,
    materias: [
      {
        codigo: "IQM501",
        nombre: "Polímeros I",
        creditos: 6,
        color: "purpura",
      },
      {
        codigo: "IQM502",
        nombre: "Calidad en Ingeniería Química",
        creditos: 5,
        color: "purpura",
      },
      {
        codigo: "IQM503",
        nombre: "Química Analítica",
        creditos: 6,
        color: "purpura",
      },
      {
        codigo: "IQM504",
        nombre: "Mecánica de Fluidos",
        creditos: 6,
        color: "purpura",
      },
      {
        codigo: "IQM505",
        nombre: "Laboratorio de Fisicoquímica",
        creditos: 5,
        color: "purpura",
      },
      {
        codigo: "IQM506",
        nombre: "Métodos Numéricos",
        creditos: 6,
        color: "purpura",
      },
    ],
  },
  {
    numero: 6,
    materias: [
      {
        codigo: "IQM601",
        nombre: "Transferencia de Energía",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "IQM602",
        nombre: "Transferencia de Momentum",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "IQM603",
        nombre: "Laboratorio de Ingeniería Química I",
        creditos: 6,
        color: "azul",
      },
      {
        codigo: "IQM604",
        nombre: "Manejo y Separación Mecánica de Materiales",
        creditos: 6,
        color: "azul",
      },
      {
        codigo: "IQM605",
        nombre: "Procesos en Ingeniería Química",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "IQM606",
        nombre: "Ética en la Industria",
        creditos: 4,
        color: "azul",
      },
    ],
  },
  {
    numero: 7,
    materias: [
      {
        codigo: "IQM701",
        nombre: "Laboratorio de Ingeniería Química II",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "IQM702",
        nombre: "Ingeniería Económica I",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "IQM703",
        nombre: "Laboratorio de Análisis Instrumentales",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "IQM704",
        nombre: "Ingeniería Bioquímica",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "IQM705",
        nombre: "Transferencia de Masa",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "IQM706",
        nombre: "Polímeros II",
        creditos: 5,
        color: "rosa",
      },
    ],
  },
  {
    numero: 8,
    materias: [
      {
        codigo: "IQM801",
        nombre: "Ingeniería Económica II",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "IQM802",
        nombre: "Biotecnología",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "IQM803",
        nombre: "Fermentaciones",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "IQM804",
        nombre: "Proceso de Separación I",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "IQM805",
        nombre: "Control de Procesos",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "IQM806",
        nombre: "Seguridad Industrial",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "IQM807",
        nombre: "Seminario de Titulación I",
        creditos: 6,
        color: "gris",
      },
    ],
  },
  {
    numero: 9,
    materias: [
      {
        codigo: "IQM901",
        nombre: "Proceso de Separación II",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "IQM902",
        nombre: "Prácticas de Procesos de Separación y Reactores",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "IQM903",
        nombre: "Diseño de Equipos",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "IQM904",
        nombre: "Reactores Químicos",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "IQM905",
        nombre: "Diseño de Procesos Químicos",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "IQM906",
        nombre: "Calidad en Ingeniería Química",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "IQM907",
        nombre: "Seminario de Titulación II",
        creditos: 6,
        color: "cian",
      },
    ],
  },
];

const planteles = [
 
  {
    id: "5",
    nombre: "Tlajomulco",
    direccion: "Av. López Mateos #10100, Col. Los Gavilanes Poniente",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-tlajomulco",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Tlajomulco.webp",
    lat: 20.576464164603113,
    lon: -103.45243680650722,
  },
  {
    id: "6",
    nombre: "Tesistán",
    direccion: "Av. Juan Gil Preciado #3897, Col. Hogares de Nuevo México",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-tesistan",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Tesistan.webp",
    lat: 20.806203,
    lon: -102.763903,
  },
  
  {
    id: "10",
    nombre: "Chapultepec",
    direccion: "Av. Vallarta #1458, Col. Americana",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-vallarta",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Chapultepec.webp",
    lat: 20.67471004174908,
    lon: -103.36909119392195,
  },
 
];

const ciudades = [
  "Guadalajara ZMG",
  "Puerto Vallarta",
  "Tepatitlán de Morelos",
];
---

<Layout>
  <main class="min-h-screen">
    <!-- Hero Section -->

    <section
      class="relative min-h-[85vh] md:min-h-[65vh] bg-cover bg-center bg-no-repeat"
    >
      {/* Desktop Background */}
      <div
        class="absolute inset-0 hidden md:block bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero.src})` }}
      >
      </div>

      {/* Mobile Background */}
      <div
        class="absolute inset-0 block md:hidden bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero_mobile.src})` }}
      >
      </div>

      {/* Hero Content */}
      <div
        class="relative z-10 container mx-auto px-4 h-full min-h-[85vh] md:min-h-[65vh] flex flex-col justify-center"
      >
        <div class="text-center text-white max-w-4xl mx-auto">
          {/* Main Title */}
          <h1 class="text-4xl md:text-7xl font-bold tracking-wider mb-4">
            Ingeniería Química
          </h1>

          {/* Description */}
          <p
            class="text-lg md:text-xl leading-relaxed mb-16 max-w-3xl mx-auto font-light"
          >
            Transforma materias primas en soluciones útiles con responsabilidad
            ambiental y técnica.
          </p>
        </div>
      </div>
    </section>

    <!-- Floating Card - ahora está fuera de la sección hero -->
    <div class="relative -top-16 z-20 px-4">
      <div class="bg-azul-une rounded-2xl px-8 shadow-2xl max-w-4xl mx-auto">
        <div
          class="flex flex-col sm:flex-row items-center justify-center gap-6"
        >
          <!-- CTA Buttons -->
          <div
            class="flex flex-col sm:flex-row gap-4 w-full justify-center text-white"
          >
            <!-- Agenda una Visita -->
            <a
              href="/contacto/solicitarvisita"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-6 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
            >
              AGENDA UNA VISITA
              <Calendar size={20} />
            </a>

            <!-- Iniciar Inscripción -->
            <a
              href="/contacto/formulario-inscripcion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
            >
              INICIAR INSCRIPCIÓN
              <UserPlus size={20} />
            </a>

            <!-- Contactar -->
            <a
              href="/contacto/solicitarinformacion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
            >
              CONTACTAR
              <Phone size={20} />
            </a>
          </div>
        </div>
      </div>
    </div>

    <InformativeCard
      logoSrc={LogoCard.src}
      studentImageSrc={ImagenCard.src}
      title="Objetivo"
      description="Formar profesionales con sólidos conocimientos en procesos fisicoquímicos, diseño de plantas y control de calidad, capaces de desarrollar soluciones sostenibles en los sectores químico, alimentario, farmacéutico y ambiental, promoviendo la innovación responsable y el impacto positivo en la sociedad."
      additionalText=""
      features={[
        {
          icon: "FlaskConical",
          label: "Laboratorios especializados y de análisis",
        },
        { icon: "BookOpen", label: "Bases científicas sólidas" },
        { icon: "School", label: "Validez oficial" },
        { icon: "Clock", label: "Horarios accesibles" },
        { icon: "BookmarkCheck", label: "Enfoque profesionalizante" },
      ]}
    />

    <PlanEstudios titulo="Propuesta Educativa" semestres={semestresDatos} />

    <Planteles
      titulo="Encuentra tu campus más cercano"
      planteles={planteles}
      ciudades={ciudades}
      mostrarMasCercano={true}
    />

    <Requisitos nivel="Licenciatura" requisitos={requisitosInfo} />

    <FAQComponent
      faqs={faqs}
      title="Preguntas frecuentes"
      subtitle="Encuentra respuestas a las dudas más comunes"
    />

    <CTAinscripcion />
  </main>
</Layout>
