---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/assets/Imagenes/Heros/Carreras/IngDatos.webp";
import Hero_mobile from "@/assets/Imagenes/Heros/Carreras/IngDatos_mobile.webp";
import ImagenCard from "@/assets/Imagenes/CardsNiveles/Nivel.webp";
import LogoCard from "@/assets/Logos/Licenciatura.webp";
import InformativeCard from "@components/sections/detallesOferta/card.astro";
import Requisitos from "@/components/sections/detallesOferta/requisitos.astro";
import FAQComponent from "@/components/sections/detallesOferta/preguntas.astro";
import CTAinscripcion from "@/components/sections/shared/ctaInscripcion.astro";
import { Calendar, UserPlus, Phone } from "@lucide/astro";
import PlanEstudios from "@/components/sections/detallesOferta/planEstudios.astro";
import Planteles from "@/components/sections/detallesOferta/planteles.astro";
import Planes from "@/components/sections/detallesOferta/Planes.astro";

const requisitosInfo = {
  items: [
    "Acta de nacimiento (original)",
    "Certificado total de bachillerato (original)",
    "Oficio de validación de autenticidad del certificado de estudios (emitido por la autoridad correspondiente)",
    "Equivalencia o grado superior, certificado parcial y contenidos temáticos",
    "CURP (formato RENAPO)",
    "Identificación oficial con fotografía (INE) - dos copias",
    "Comprobante de domicilio reciente (no mayor a 3 meses) - una copia",
    "Cinco fotografías tamaño infantil, blanco y negro, papel mate, de estudio"
  ],
  pdfUrl: "/pdfs/licenciatura_req.pdf",
};

const faqs = [
  
  {
    question: "¿Cuál es la duración de una licenciatura?",
    answer:
      "Las licenciaturas tienen una duración promedio de 8 a 10 semestres, dependiendo del programa, la institución incorporadora (UDG o SICYT) y la modalidad elegida.",
  },
  {
    question: "¿Qué modalidades de estudio están disponibles?",
    answer:
      "Las licenciaturas pueden cursarse en modalidad presencial, en línea, escolarizada o semiescolarizada, según la carrera y el plantel. Algunas combinan clases presenciales con actividades virtuales.",
  },
  {
    question: "¿Puedo trabajar mientras estudio una licenciatura?",
    answer:
      "Sí. Las modalidades en línea y semiescolarizada están diseñadas para ofrecer mayor flexibilidad y permitir compatibilizar tus estudios con otras actividades.",
  },
  {
    question: "¿Cómo se evalúa el desempeño académico?",
    answer:
      "El sistema de evaluación incluye exámenes, proyectos, participación en clase, trabajos individuales o en equipo y actividades prácticas, según el enfoque de cada licenciatura.",
  },
  {
    question: "¿Qué tipo de apoyo académico se brinda a los estudiantes?",
    answer:
      "La institución ofrece tutorías, asesorías académicas presenciales y virtuales, y acceso a plataformas educativas. En casos específicos, pueden gestionarse apoyos adicionales conforme a criterio institucional.",
  },
  {
    question:
      "¿Las licenciaturas están incorporadas a alguna institución oficial?",
    answer:
      "Sí. Contamos con licenciaturas incorporadas a la Universidad de Guadalajara (UDG) y a la Secretaría de Innovación, Ciencia y Tecnología (SICYT) del Estado de Jalisco, lo que garantiza validez oficial de estudios.",
  },
  {
    question: "¿Dónde puedo obtener más información e inscribirme?",
    answer:
      "Puedes acudir directamente a las oficinas del plantel más cercano o visitar nuestro portal web para consultar la oferta académica, requisitos y fechas de inscripción.",
  },
];

const semestresDatos  = [
  {
    numero: 1,
    materias: [
      {
        codigo: "LIIDC101",
        nombre: "Taller de Comunicación",
        creditos: 3,
        color: "verde",
      },
      {
        codigo: "LIIDC102",
        nombre: "Cálculo Diferencial",
        creditos: 3,
        color: "verde",
      },
      {
        codigo: "LIIDC103",
        nombre: "Álgebra",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "LIIDC104",
        nombre: "Introducción a la Ciberseguridad",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "LIIDC105",
        nombre: "Introducción a la Programación",
        creditos: 6,
        color: "verde",
      },
      {
        codigo: "LIIDC106",
        nombre: "Introducción a la Ingeniería de Datos",
        creditos: 6,
        color: "verde",
      },
      {
        codigo: "LIIDC107",
        nombre: "Antropología Filosófica de la Ciencia",
        creditos: 5,
        color: "verde",
      },
    ],
  },
  {
    numero: 2,
    materias: [
      {
        codigo: "LIIDC201",
        nombre: "Herramientas Digitales",
        creditos: 3,
        color: "amarillo",
      },
      {
        codigo: "LIIDC202",
        nombre: "Cálculo Integral",
        creditos: 3,
        color: "amarillo",
      },
      {
        codigo: "LIIDC203",
        nombre: "Álgebra Lineal",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "LIIDC204",
        nombre: "Ciberseguridad",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "LIIDC205",
        nombre: "Algoritmos y Programación",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "LIIDC206",
        nombre: "Internet de las Cosas",
        creditos: 6,
        color: "amarillo",
      },
      {
        codigo: "LIIDC207",
        nombre: "Fundamentos de Redes",
        creditos: 5,
        color: "amarillo",
      },
    ],
  },
  {
    numero: 3,
    materias: [
      {
        codigo: "LIIDC301",
        nombre: "Metodología de la Investigación",
        creditos: 3,
        color: "naranja",
      },
      {
        codigo: "LIIDC302",
        nombre: "Probabilidad y Estadística",
        creditos: 3,
        color: "naranja",
      },
      {
        codigo: "LIIDC303",
        nombre: "Química General",
        creditos: 5,
        color: "naranja",
      },
      {
        codigo: "LIIDC304",
        nombre: "Derechos Humanos",
        creditos: 5,
        color: "naranja",
      },
      {
        codigo: "LIIDC305",
        nombre: "Programación Orientada a Objetos",
        creditos: 6,
        color: "naranja",
      },
      {
        codigo: "LIIDC306",
        nombre: "Introducción a las Bases de Datos",
        creditos: 6,
        color: "naranja",
      },
      {
        codigo: "LIIDC307",
        nombre: "Administración de Redes",
        creditos: 5,
        color: "naranja",
      },
    ],
  },
  {
    numero: 4,
    materias: [
      {
        codigo: "LIIDC401",
        nombre: "Desarrollo del Pensamiento Crítico",
        creditos: 3,
        color: "rojo",
      },
      {
        codigo: "LIIDC402",
        nombre: "Ecuaciones Diferenciales",
        creditos: 3,
        color: "rojo",
      },
      {
        codigo: "LIIDC403",
        nombre: "Física General",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "LIIDC404",
        nombre: "Organización y Arquitectura de Computadoras",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "LIIDC405",
        nombre: "Sistemas Operativos",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "LIIDC406",
        nombre: "Diseño de Estructuras de Datos",
        creditos: 6,
        color: "rojo",
      },
      {
        codigo: "LIIDC407",
        nombre: "Interconexión de Redes",
        creditos: 5,
        color: "rojo",
      },
    ],
  },
  {
    numero: 5,
    materias: [
      {
        codigo: "LIIDC501",
        nombre: "Investigación Aplicada",
        creditos: 3,
        color: "morado",
      },
      {
        codigo: "LIIDC502",
        nombre: "Identidad Digital",
        creditos: 3,
        color: "morado",
      },
      {
        codigo: "LIIDC503",
        nombre: "Inclusión Digital",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "LIIDC504",
        nombre: "Computo en la Nube",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "LIIDC505",
        nombre: "Modelado y Análisis de Datos",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "LIIDC506",
        nombre: "Desarrollo de Aplicaciones y Servicios Web",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "LIIDC507",
        nombre: "Redes Inalámbricas",
        creditos: 5,
        color: "morado",
      },
    ],
  },
  {
    numero: 6,
    materias: [
      {
        codigo: "LIIDC601",
        nombre: "Ética Profesional",
        creditos: 3,
        color: "azul",
      },
      {
        codigo: "LIIDC602",
        nombre: "Delitos Ciberneticos",
        creditos: 3,
        color: "azul",
      },
      {
        codigo: "LIIDC603",
        nombre: "Criptografía",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "LIIDC604",
        nombre: "Minería de Datos",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "LIIDC605",
        nombre: "Manejo de Datos de Ciberseguridad",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "LIIDC606",
        nombre: "Administración de Sistemas",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "LIIDC607",
        nombre: "Servicios Seguros de Internet",
        creditos: 6,
        color: "azul",
      },
    ],
  },
  {
    numero: 7,
    materias: [
      {
        codigo: "LIIDC701",
        nombre: "Gestión de Proyectos",
        creditos: 3,
        color: "cian",
      },
      {
        codigo: "LIIDC702",
        nombre: "Análisis y Prevención de Ciberamenazas",
        creditos: 3,
        color: "cian",
      },
      {
        codigo: "LIIDC703",
        nombre: "Ciberinteligencia",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "LIIDC704",
        nombre: "Desarrollo de Software Seguro",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "LIIDC705",
        nombre: "Telemática",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "LIIDC706",
        nombre: "Inteligencia Artificial",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "LIIDC707",
        nombre: "Solución de Problemas en Redes de Computadoras",
        creditos: 5,
        color: "cian",
      },
    ],
  },
  {
    numero: 8,
    materias: [
      {
        codigo: "LIIDC801",
        nombre: "Habilidades de Liderazgo",
        creditos: 3,
        color: "rosa",
      },
      {
        codigo: "LIIDC802",
        nombre: "Gestión de Seguridad Informática",
        creditos: 3,
        color: "rosa",
      },
      {
        codigo: "LIIDC803",
        nombre: "Hackeo Ético",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "LIIDC804",
        nombre: "Informática Forense",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "LIIDC805",
        nombre: "Proyecto de Ingeniería de Datos y Ciberseguridad I",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "LIIDC806",
        nombre: "Gestión de Bases de Datos",
        creditos: 6,
        color: "rosa",
      },
      {
        codigo: "LIIDC807",
        nombre: "Análisis de Redes Sociales",
        creditos: 5,
        color: "rosa",
      },
    ],
  },
  {
    numero: 9,
    materias: [
      {
        codigo: "LIIDC901",
        nombre: "Taller de Titulación",
        creditos: 6,
        color: "gris",
      },
      {
        codigo: "LIIDC902",
        nombre: "Prácticas Profesionales en Ciberseguridad",
        creditos: 11,
        color: "gris",
      },
      {
        codigo: "LIIDC903",
        nombre: "Auditoria Informática",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "LIIDC904",
        nombre: "Tendencias en Ciencia de Datos",
        creditos: 3,
        color: "gris",
      },
      {
        codigo: "LIIDC905",
        nombre: "Proyecto de Ingeniería de Datos y Ciberseguridad II",
        creditos: 5,
        color: "gris",
      },
    ],
  },
];
const planteles = [
  {
    id: "1",
    nombre: "Centro",
    direccion: "Av. República No.10, Col. San Juan de Dios",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-centro",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Centro.webp",
    lat: 20.67744801539995,
    lon: -103.34031672627513,
  },
 
  {
    id: "3",
    nombre: "Milenio",
    direccion: "Av. López Mateos Sur #4154, Col. La Giralda",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-milenio",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Milenio.webp",
    lat: 20.64540739939039,
    lon: -103.40630313415286,
  },
  
  {
    id: "5",
    nombre: "Tlajomulco",
    direccion: "Av. López Mateos #10100, Col. Los Gavilanes Poniente",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-tlajomulco",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Tlajomulco.webp",
    lat: 20.576464164603113,
    lon: -103.45243680650722,
  },
 
  {
    id: "11",
    nombre: "Zapopan",
    direccion: "Plaza Caudillos",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-zapopan",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Zapopan.webp",
    lat: 20.720900646775917,
    lon: -103.38975281813357,
  },
  {
    id: "11",
    nombre: "Tepatitlán",
    codigo: "00019",
    direccion: "Col. Alameda. Av. Matamoros #505, Tepatitlán de Morelos, Jalisco",
    ciudad: "Tepatitlán",
    url: "/campus/tepatitlan",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Tepatitlan.webp",
    lat: 20.8062946507024,
    lon: -102.76382902869392,
  },
  {
    id: "16",
    nombre: "Campus Puerto Vallarta",
    codigo: "Campus",
    direccion: "Carretera a Tepic No. 5657 Col. las Juntas C.P 48291",
    ciudad: "Puerto Vallarta",
    url: "/campus/campus-puerto-vallarta",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Campus-Puerto-Vallarta.webp",
    lat: "20.69715126066295",
    lon: ", -105.23759816941552",
  },
   {
    id: "1",
    nombre: "Avenida México",
    codigo: "00008",
    direccion: "Av. México #1255, Col. Agua Zarca, Puerto Vallarta, Jalisco",
    ciudad: "Puerto Vallarta",
    url: "/campus/puerto-vallarta",
    imagen: "/src/assets/Imagenes/CardsPlanteles/PuertoVallarta.webp",
    lat: 20.669418,
    lon: -105.226917,
  },
];

const ciudades = [
  "Guadalajara ZMG",
  "Puerto Vallarta",
  "Tepatitlán de Morelos",
];
---

<Layout
title="Licenciatura en Ingeniería en Inteligencia de Datos y Ciberseguridad - UNE"
description="Ingeniería en Inteligencia de Datos y Ciberseguridad en UNE. Licenciatura con validez UDG, Big Data, IA y seguridad informática.">
  <main class="min-h-screen">
    <!-- Hero Section -->

    <section
      class="relative min-h-[85vh] md:min-h-[65vh] bg-cover bg-center bg-no-repeat"
    >
      {/* Desktop Background */}
      <div
        class="absolute inset-0 hidden md:block bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero.src})` }}
      >
      </div>

      {/* Mobile Background */}
      <div
        class="absolute inset-0 block md:hidden bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero_mobile.src})` }}
      >
      </div>

      {/* Hero Content */}
      <div
        class="relative z-10 container mx-auto px-4 h-full min-h-[85vh] md:min-h-[65vh] flex flex-col justify-center"
      >
        <div class="text-center text-white max-w-4xl mx-auto">
          {/* Main Title */}
          <h1 class="text-4xl md:text-7xl font-bold tracking-wider mb-4">
           Ing. en Inteligencia de Datos y Ciberseguridad
          </h1>
         

          {/* Description */}
          <p
            class="text-lg md:text-xl leading-relaxed mb-16 max-w-3xl mx-auto font-light"
          >
           Protege la información y toma decisiones con base en datos. Prepárate para el futuro digital.
          </p>
        </div>
      </div>
    </section>

    <!-- Floating Card - ahora está fuera de la sección hero -->
    <div class="relative -top-16 z-20 px-4">
      <div class="bg-azul-une rounded-2xl px-8 shadow-2xl max-w-4xl mx-auto">
        <div
          class="flex flex-col sm:flex-row items-center justify-center gap-6"
        >
          <!-- CTA Buttons -->
          <div
            class="flex flex-col sm:flex-row gap-4 w-full justify-center text-white"
          >
            <!-- Agenda una Visita -->
            <a href="/contacto/solicitarvisita"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-6 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a AGENDA UNA VISITA" title="AGENDA UNA VISITA">
              AGENDA UNA VISITA
              <Calendar size={20} />
            </a>

            <!-- Iniciar Inscripción -->
            <a href="/contacto/formulario-inscripcion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a INICIAR INSCRIPCIÓN" title="INICIAR INSCRIPCIÓN">
              INICIAR INSCRIPCIÓN
              <UserPlus size={20} />
            </a>

            <!-- Contactar -->
             <a href="/contacto/solicitarinformacion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a página de contacto" title="Contactar con nosotros">
              CONTACTAR
              <Phone size={20} />
            </a>
          </div>
        </div>
      </div>
    </div>
<InformativeCard
  logoSrc={LogoCard.src}
  studentImageSrc={ImagenCard.src}
  title="Objetivo"
  description="Formar profesionales con competencias en análisis de datos, inteligencia artificial y seguridad informática, capaces de proteger activos digitales, gestionar información estratégica y generar valor mediante el uso ético de la tecnología, fomentando la ciberseguridad y el desarrollo organizacional sostenible."
  additionalText=""
  features={[
    { icon: "ShieldCheck", label: "Enfoque en ciberseguridad aplicada" },
    { icon: "BookOpen", label: "Bases científicas sólidas" },
    { icon: "School", label: "Validez oficial" },
    { icon: "Clock", label: "Horarios accesibles" },
    { icon: "BookmarkCheck", label: "Enfoque profesionalizante" },
  ]}
/>


     <PlanEstudios titulo="Propuesta Educativa" semestres={semestresDatos} />

     <Planteles
      titulo="Encuentra tu campus más cercano"
      planteles={planteles}
      ciudades={ciudades}
      mostrarMasCercano={true}
    />

    

    <Requisitos nivel="Licenciatura" requisitos={requisitosInfo} />
                            <Planes  nombre="Ingeniería en Inteligencia de Datos y Ciberseguridad"/>


    <FAQComponent
      faqs={faqs}
      title="Preguntas frecuentes"
      subtitle="Encuentra respuestas a las dudas más comunes"
    />

    <CTAinscripcion />
  </main>
</Layout>
