---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/assets/Imagenes/Heros/Carreras/IngSoftware.webp";
import Hero_mobile from "@/assets/Imagenes/Heros/Carreras/IngSoftware.webp";
import ImagenCard from "@/assets/Imagenes/CardsNiveles/Nivel.webp";
import LogoCard from "@/assets/Logos/Licenciatura.webp";
import InformativeCard from "@components/sections/detallesOferta/card.astro";
import Requisitos from "@/components/sections/detallesOferta/requisitos.astro";

import FAQComponent from "@/components/sections/detallesOferta/preguntas.astro";
import CTAinscripcion from "@/components/sections/shared/ctaInscripcion.astro";
import { Calendar, UserPlus, Phone } from "@lucide/astro";
import PlanEstudios from "@/components/sections/detallesOferta/planEstudios.astro";
import Planteles from "@/components/sections/detallesOferta/planteles.astro";
import Planes from "@/components/sections/detallesOferta/Planes.astro";

const requisitosInfo = {
  items: [
    "Acta de nacimiento (original)",
    "Certificado total de bachillerato (original)",
    "Oficio de validación de autenticidad del certificado de estudios (emitido por la autoridad correspondiente)",
    "Equivalencia o grado superior, certificado parcial y contenidos temáticos",
    "CURP (formato RENAPO)",
    "Identificación oficial con fotografía (INE) - dos copias",
    "Comprobante de domicilio reciente (no mayor a 3 meses) - una copia",
    "Cinco fotografías tamaño infantil, blanco y negro, papel mate, de estudio",
  ],
  pdfUrl: "/pdfs/licenciatura_req.pdf",
};

const faqs = [
  
  {
    question: "¿Cuál es la duración de una licenciatura?",
    answer:
      "Las licenciaturas tienen una duración promedio de 8 a 10 semestres, dependiendo del programa, la institución incorporadora (UDG o SICYT) y la modalidad elegida.",
  },
  {
    question: "¿Qué modalidades de estudio están disponibles?",
    answer:
      "Las licenciaturas pueden cursarse en modalidad presencial, en línea, escolarizada o semiescolarizada, según la carrera y el plantel. Algunas combinan clases presenciales con actividades virtuales.",
  },
  {
    question: "¿Puedo trabajar mientras estudio una licenciatura?",
    answer:
      "Sí. Las modalidades en línea y semiescolarizada están diseñadas para ofrecer mayor flexibilidad y permitir compatibilizar tus estudios con otras actividades.",
  },
  {
    question: "¿Cómo se evalúa el desempeño académico?",
    answer:
      "El sistema de evaluación incluye exámenes, proyectos, participación en clase, trabajos individuales o en equipo y actividades prácticas, según el enfoque de cada licenciatura.",
  },
  {
    question: "¿Qué tipo de apoyo académico se brinda a los estudiantes?",
    answer:
      "La institución ofrece tutorías, asesorías académicas presenciales y virtuales, y acceso a plataformas educativas. En casos específicos, pueden gestionarse apoyos adicionales conforme a criterio institucional.",
  },
  {
    question:
      "¿Las licenciaturas están incorporadas a alguna institución oficial?",
    answer:
      "Sí. Contamos con licenciaturas incorporadas a la Universidad de Guadalajara (UDG) y a la Secretaría de Innovación, Ciencia y Tecnología (SICYT) del Estado de Jalisco, lo que garantiza validez oficial de estudios.",
  },
  {
    question: "¿Dónde puedo obtener más información e inscribirme?",
    answer:
      "Puedes acudir directamente a las oficinas del plantel más cercano o visitar nuestro portal web para consultar la oferta académica, requisitos y fechas de inscripción.",
  },
];

const semestresDatos = [
  {
    numero: 1,
    materias: [
      {
        codigo: "LIDS101",
        nombre: "Taller de Comunicación",
        creditos: 3,
        color: "verde",
      },
      {
        codigo: "LIDS102",
        nombre: "Matemáticas Discretas",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "LIDS103",
        nombre: "Física General",
        creditos: 7,
        color: "verde",
      },
      {
        codigo: "LIDS104",
        nombre: "Fundamentos de Programación",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "LIDS105",
        nombre: "Redes I",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "LIDS106",
        nombre: "Teoría de la Computación",
        creditos: 6,
        color: "verde",
      },
      {
        codigo: "LIDS107",
        nombre: "Arquitectura de Computadoras",
        creditos: 5,
        color: "verde",
      },
    ],
  },
  {
    numero: 2,
    materias: [
      {
        codigo: "LIDS201",
        nombre: "Herramientas Digitales",
        creditos: 3,
        color: "amarillo",
      },
      {
        codigo: "LIDS202",
        nombre: "Álgebra Lineal",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "LIDS203",
        nombre: "Cálculo Diferencial",
        creditos: 7,
        color: "amarillo",
      },
      {
        codigo: "LIDS204",
        nombre: "Programación Estructurada",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "LIDS205",
        nombre: "Redes II",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "LIDS206",
        nombre: "Estructura de Datos I",
        creditos: 6,
        color: "amarillo",
      },
      {
        codigo: "LIDS207",
        nombre: "Comercio Electrónico y Marketing Digital",
        creditos: 5,
        color: "amarillo",
      },
    ],
  },
  {
    numero: 3,
    materias: [
      {
        codigo: "LIDS301",
        nombre: "Metodología de la Investigación",
        creditos: 3,
        color: "naranja",
      },
      {
        codigo: "LIDS302",
        nombre: "Cálculo Integral",
        creditos: 5,
        color: "naranja",
      },
      {
        codigo: "LIDS303",
        nombre: "Medio Ambiente y Desarrollo Sustentable",
        creditos: 7,
        color: "naranja",
      },
      {
        codigo: "LIDS304",
        nombre: "Programación Orientada a Objetos",
        creditos: 5,
        color: "naranja",
      },
      {
        codigo: "LIDS305",
        nombre: "Base de Datos I",
        creditos: 6,
        color: "naranja",
      },
      {
        codigo: "LIDS306",
        nombre: "Estructura de Datos II",
        creditos: 6,
        color: "naranja",
      },
      {
        codigo: "LIDS307",
        nombre: "Seguridad Informática",
        creditos: 5,
        color: "naranja",
      },
    ],
  },
  {
    numero: 4,
    materias: [
      {
        codigo: "LIDS401",
        nombre: "Desarrollo del Pensamiento Crítico",
        creditos: 3,
        color: "rojo",
      },
      {
        codigo: "LIDS402",
        nombre: "Ecuaciones Diferenciales",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "LIDS403",
        nombre: "Dinámica",
        creditos: 7,
        color: "rojo",
      },
      {
        codigo: "LIDS404",
        nombre: "Cálculo Vectorial",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "LIDS405",
        nombre: "Bases de Datos II",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "LIDS406",
        nombre: "Diseño y Análisis de Algoritmos",
        creditos: 6,
        color: "rojo",
      },
      {
        codigo: "LIDS407",
        nombre: "Sistemas de Información",
        creditos: 5,
        color: "rojo",
      },
    ],
  },
  {
    numero: 5,
    materias: [
      {
        codigo: "LIDS501",
        nombre: "Investigación Aplicada",
        creditos: 3,
        color: "morado",
      },
      {
        codigo: "LIDS502",
        nombre: "Probabilidad y Estadística",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "LIDS503",
        nombre: "Métodos Numéricos",
        creditos: 7,
        color: "morado",
      },
      {
        codigo: "LIDS504",
        nombre: "Ingeniería de Software I",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "LIDS505",
        nombre: "Cultura y Desarrollo de la Innovación Sostenible",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "LIDS506",
        nombre: "Sistemas Operativos",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "LIDS507",
        nombre: "Propuesta de Proyecto",
        creditos: 5,
        color: "morado",
      },
    ],
  },
  {
    numero: 6,
    materias: [
      {
        codigo: "LIDS601",
        nombre: "Ética Profesional",
        creditos: 3,
        color: "azul",
      },
      {
        codigo: "LIDS602",
        nombre: "Investigación de Operaciones",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "LIDS603",
        nombre: "Programación en Web",
        creditos: 7,
        color: "azul",
      },
      {
        codigo: "LIDS604",
        nombre: "Ingeniería de Software II",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "LIDS605",
        nombre: "Teoría de Autómatas",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "LIDS606",
        nombre: "Inteligencia Artificial I",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "LIDS607",
        nombre: "Administración de Proyectos de Software",
        creditos: 6,
        color: "azul",
      },
    ],
  },
  {
    numero: 7,
    materias: [
      {
        codigo: "LIDS701",
        nombre: "Gestión de Proyectos",
        creditos: 3,
        color: "cian",
      },
      {
        codigo: "LIDS702",
        nombre: "Arquitectura de Software",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "LIDS703",
        nombre: "Programación Paralela",
        creditos: 7,
        color: "cian",
      },
      {
        codigo: "LIDS704",
        nombre: "Administración de Redes",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "LIDS705",
        nombre: "Desarrollo de Aplicaciones y Servicios Web",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "LIDS706",
        nombre: "Inteligencia Artificial II",
        creditos: 5,
        color: "cian",
      },
      {
        codigo: "LIDS707",
        nombre: "Desarrollo de Proyecto",
        creditos: 5,
        color: "cian",
      },
    ],
  },
  {
    numero: 8,
    materias: [
      {
        codigo: "LIDS801",
        nombre: "Habilidades de Liderazgo",
        creditos: 3,
        color: "rosa",
      },
      {
        codigo: "LIDS802",
        nombre: "Aplicaciones Móviles y Desarrollo en la Nube I",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "LIDS803",
        nombre: "Calidad de Software",
        creditos: 7,
        color: "rosa",
      },
      {
        codigo: "LIDS804",
        nombre: "Diseño de Interfaces de Usuario UX/UI",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "LIDS805",
        nombre: "Desarrollo de Software Seguro",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "LIDS806",
        nombre: "Compiladores",
        creditos: 6,
        color: "rosa",
      },
      {
        codigo: "LIDS807",
        nombre: "Tecnologías Emergentes",
        creditos: 5,
        color: "rosa",
      },
    ],
  },
  {
    numero: 9,
    materias: [
      {
        codigo: "LIDS901",
        nombre: "Taller de Titulación",
        creditos: 6,
        color: "gris",
      },
      {
        codigo: "LIDS902",
        nombre: "Aplicaciones Móviles y Desarrollo en la Nube II",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "LIDS903",
        nombre: "Pruebas de Software",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "LIDS904",
        nombre: "Simulación por Computadora",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "LIDS905",
        nombre: "Defensa de Proyecto",
        creditos: 6,
        color: "gris",
      },
    ],
  },
];
const planteles = [
  {
    id: "1",
    nombre: "Centro",
    direccion: "Av. República No.10, Col. San Juan de Dios",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-centro",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Centro.webp",
    lat: 20.67744801539995,
    lon: -103.34031672627513,
  },

  {
    id: "3",
    nombre: "Milenio",
    direccion: "Av. López Mateos Sur #4154, Col. La Giralda",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-milenio",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Milenio.webp",
    lat: 20.64540739939039,
    lon: -103.40630313415286,
  },

  {
    id: "7",
    nombre: "Tepatitlán",
    direccion: "Calle Dr. Ricardo Alcalá #505, Av. Matamoros, Centro",
    ciudad: "Tepatitlán de Morelos",
    url: "/plantel-tepatitlan",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Tepatitlan.webp",
    lat: 20.8062946507024,
    lon: -102.76382902869392,
  },
 

  {
    id: "11",
    nombre: "Zapopan",
    direccion: "Plaza Caudillos",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-zapopan",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Zapopan.webp",
    lat: 20.720900646775917,
    lon: -103.38975281813357,
  },
  {
    id: "1",
    nombre: "Avenida México",
    codigo: "00008",
    direccion: "Av. México #1255, Col. Agua Zarca, Puerto Vallarta, Jalisco",
    ciudad: "Puerto Vallarta",
    url: "/campus/puerto-vallarta",
    imagen: "/src/assets/Imagenes/CardsPlanteles/PuertoVallarta.webp",
    lat: 20.669418,
    lon: -105.226917,
  },
  {
    id: "16",
    nombre: "Campus Puerto Vallarta",
    codigo: "Campus",
    direccion: "Carretera a Tepic No. 5657 Col. las Juntas C.P 48291",
    ciudad: "Puerto Vallarta",
    url: "/campus/campus-puerto-vallarta",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Campus-Puerto-Vallarta.webp",
    lat: "20.69715126066295",
    lon: ", -105.23759816941552",
  },
];

const ciudades = [
  "Guadalajara ZMG",
  "Puerto Vallarta",
  "Tepatitlán de Morelos",
];
---

<Layout
title="Licenciatura en Ingeniería en Desarrollo de Software - UNE"
description="Estudia Ingeniería en Desarrollo de Software en Universidad UNE. Licenciatura con validez UDG, programación moderna y proyectos tecnológicos.">
  <main class="min-h-screen">
    <!-- Hero Section -->

    <section
      class="relative min-h-[85vh] md:min-h-[65vh] bg-cover bg-center bg-no-repeat"
    >
      {/* Desktop Background */}
      <div
        class="absolute inset-0 hidden md:block bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero.src})` }}
      >
      </div>

      {/* Mobile Background */}
      <div
        class="absolute inset-0 block md:hidden bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero_mobile.src})` }}
      >
      </div>

      {/* Hero Content */}
      <div
        class="relative z-10 container mx-auto px-4 h-full min-h-[85vh] md:min-h-[65vh] flex flex-col justify-center"
      >
        <div class="text-center text-white max-w-4xl mx-auto">
          {/* Main Title */}
          <h1 class="text-4xl md:text-7xl font-bold tracking-wider mb-4">
            Ing. en Desarrollo de Software
          </h1>

          {/* Description */}
          <p
            class="text-lg md:text-xl leading-relaxed mb-16 max-w-3xl mx-auto font-light"
          >
           Crea soluciones digitales desde cero. Aprende a programar, diseñar y desarrollar aplicaciones tecnológicas con impacto global.
          </p>
        </div>
      </div>
    </section>

    <!-- Floating Card - ahora está fuera de la sección hero -->
    <div class="relative -top-16 z-20 px-4">
      <div class="bg-azul-une rounded-2xl px-8 shadow-2xl max-w-4xl mx-auto">
        <div
          class="flex flex-col sm:flex-row items-center justify-center gap-6"
        >
          <!-- CTA Buttons -->
          <div
            class="flex flex-col sm:flex-row gap-4 w-full justify-center text-white"
          >
            <!-- Agenda una Visita -->
            <a
              href="/contacto/solicitarvisita"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-6 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a AGENDA UNA VISITA" title="AGENDA UNA VISITA">
              AGENDA UNA VISITA
              <Calendar size={20} />
            </a>

            <!-- Iniciar Inscripción -->
            <a
              href="/contacto/formulario-inscripcion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a INICIAR INSCRIPCIÓN" title="INICIAR INSCRIPCIÓN">
              INICIAR INSCRIPCIÓN
              <UserPlus size={20} />
            </a>

            <!-- Contactar -->
            <a
              href="/contacto/solicitarinformacion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
             aria-label="Ir a página de contacto" title="Contactar con nosotros">
              CONTACTAR
              <Phone size={20} />
            </a>
          </div>
        </div>
      </div>
    </div>

    <InformativeCard
      logoSrc={LogoCard.src}
      studentImageSrc={ImagenCard.src}
      title="Objetivo"
      description="Formar ingenieros con competencias para diseñar, desarrollar e implementar soluciones de software innovadoras, eficientes y seguras, promoviendo la transformación digital, el emprendimiento tecnológico y la mejora de procesos en distintos sectores, en respuesta a las exigencias del mercado laboral."
      additionalText=""
      features={[
        { icon: "LaptopCode", label: "Desarrollo de software aplicado" },
        { icon: "BookOpen", label: "Bases científicas sólidas" },
        { icon: "School", label: "Validez oficial" },
        { icon: "Clock", label: "Horarios accesibles" },
        { icon: "BookmarkCheck", label: "Enfoque profesionalizante" },
      ]}
    />

    <PlanEstudios titulo="Propuesta Educativa" semestres={semestresDatos} />

    <Planteles
      titulo="Encuentra tu campus más cercano"
      planteles={planteles}
      ciudades={ciudades}
      mostrarMasCercano={true}
    />

    <Requisitos nivel="Licenciatura" requisitos={requisitosInfo} />
                            <Planes  nombre="Ingeniería en Desarrollo de Software"/>


    <FAQComponent
      faqs={faqs}
      title="Preguntas frecuentes"
      subtitle="Encuentra respuestas a las dudas más comunes"
    />

    <CTAinscripcion />
  </main>
</Layout>
