---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/assets/Imagenes/Heros/Carreras/TrabajoSocial.webp";
import Hero_mobile from "@/assets/Imagenes/Heros/Carreras/TrabajoSocial_mobile.webp";
import ImagenCard from "@/assets/Imagenes/CardsNiveles/Nivel.webp";
import LogoCard from "@/assets/Logos/Licenciatura.webp";
import InformativeCard from "@components/sections/detallesOferta/card.astro";

import Requisitos from "@/components/sections/detallesOferta/requisitos.astro";

import FAQComponent from "@/components/sections/detallesOferta/preguntas.astro";
import CTAinscripcion from "@/components/sections/shared/ctaInscripcion.astro";
import { Calendar, UserPlus, Phone } from "@lucide/astro";
import PlanEstudios from "@/components/sections/detallesOferta/planEstudios.astro";
import Planteles from "@/components/sections/detallesOferta/planteles.astro";

const requisitosInfo = {
  items: [
    "Acta de nacimiento (original)",
    "Certificado total de bachillerato (original)",
    "Oficio de validación de autenticidad del certificado de estudios (emitido por la autoridad correspondiente)",
    "Equivalencia o grado superior, certificado parcial y contenidos temáticos",
    "CURP (formato RENAPO)",
    "Identificación oficial con fotografía (INE) - dos copias",
    "Comprobante de domicilio reciente (no mayor a 3 meses) - una copia",
    "Cinco fotografías tamaño infantil, blanco y negro, papel mate, de estudio",
  ],
  pdfUrl: "/pdfs/licenciatura_req.pdf",
};

const faqs = [
  
  {
    question: "¿Cuál es la duración de una licenciatura?",
    answer:
      "Las licenciaturas tienen una duración promedio de 8 a 10 semestres, dependiendo del programa, la institución incorporadora (UDG o SICYT) y la modalidad elegida.",
  },
  {
    question: "¿Qué modalidades de estudio están disponibles?",
    answer:
      "Las licenciaturas pueden cursarse en modalidad presencial, en línea, escolarizada o semiescolarizada, según la carrera y el plantel. Algunas combinan clases presenciales con actividades virtuales.",
  },
  {
    question: "¿Puedo trabajar mientras estudio una licenciatura?",
    answer:
      "Sí. Las modalidades en línea y semiescolarizada están diseñadas para ofrecer mayor flexibilidad y permitir compatibilizar tus estudios con otras actividades.",
  },
  {
    question: "¿Cómo se evalúa el desempeño académico?",
    answer:
      "El sistema de evaluación incluye exámenes, proyectos, participación en clase, trabajos individuales o en equipo y actividades prácticas, según el enfoque de cada licenciatura.",
  },
  {
    question: "¿Qué tipo de apoyo académico se brinda a los estudiantes?",
    answer:
      "La institución ofrece tutorías, asesorías académicas presenciales y virtuales, y acceso a plataformas educativas. En casos específicos, pueden gestionarse apoyos adicionales conforme a criterio institucional.",
  },
  {
    question:
      "¿Las licenciaturas están incorporadas a alguna institución oficial?",
    answer:
      "Sí. Contamos con licenciaturas incorporadas a la Universidad de Guadalajara (UDG) y a la Secretaría de Innovación, Ciencia y Tecnología (SICYT) del Estado de Jalisco, lo que garantiza validez oficial de estudios.",
  },
  {
    question: "¿Dónde puedo obtener más información e inscribirme?",
    answer:
      "Puedes acudir directamente a las oficinas del plantel más cercano o visitar nuestro portal web para consultar la oferta académica, requisitos y fechas de inscripción.",
  },
];

const semestresDatos = [
  {
    numero: 1,
    materias: [
      {
        codigo: "LTS101",
        nombre: "Desarrollo de Habilidades para el Aprendizaje",
        creditos: 3,
        color: "verde",
      },
      {
        codigo: "LTS102",
        nombre: "Desarrollo Histórico del Trabajo Social",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "LTS103",
        nombre: "Teoría Social I",
        creditos: 6,
        color: "verde",
      },
      {
        codigo: "LTS104",
        nombre: "Teoría Económica I",
        creditos: 6,
        color: "verde",
      },
      {
        codigo: "LTS105",
        nombre: "Análisis del Estado Mexicano",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "LTS106",
        nombre: "Problemática Social",
        creditos: 5,
        color: "verde",
      },
      {
        codigo: "LTS107",
        nombre: "Inglés I",
        creditos: 4,
        color: "verde",
      },
    ],
  },
  {
    numero: 2,
    materias: [
      {
        codigo: "LTS201",
        nombre: "Comunicación Oral y Escrita",
        creditos: 3,
        color: "amarillo",
      },
      {
        codigo: "LTS202",
        nombre: "Teoría del Trabajo Social Comunitario",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "LTS203",
        nombre: "Teoría Social II",
        creditos: 6,
        color: "amarillo",
      },
      {
        codigo: "LTS204",
        nombre: "Teoría Económica II",
        creditos: 6,
        color: "amarillo",
      },
      {
        codigo: "LTS205",
        nombre: "Situación Nacional Contemporánea",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "LTS206",
        nombre: "Política Social",
        creditos: 5,
        color: "amarillo",
      },
      {
        codigo: "LTS207",
        nombre: "Inglés II",
        creditos: 4,
        color: "amarillo",
      },
    ],
  },
  {
    numero: 3,
    materias: [
      {
        codigo: "LTS301",
        nombre: "Metodología de la Investigación",
        creditos: 3,
        color: "naranja",
      },
      {
        codigo: "LTS302",
        nombre: "Teoría de Grupos y Trabajo Social",
        creditos: 5,
        color: "naranja",
      },
      {
        codigo: "LTS303",
        nombre: "Teoría Social III",
        creditos: 6,
        color: "naranja",
      },
      {
        codigo: "LTS304",
        nombre: "Problemática Rural",
        creditos: 5,
        color: "naranja",
      },
      {
        codigo: "LTS305",
        nombre: "Psicología del Desarrollo Humano I",
        creditos: 6,
        color: "naranja",
      },
      {
        codigo: "LTS306",
        nombre: "Estadística Aplicada a la Investigación Social I",
        creditos: 6,
        color: "naranja",
      },
      {
        codigo: "LTS307",
        nombre: "Inglés III",
        creditos: 4,
        color: "naranja",
      },
    ],
  },
  {
    numero: 4,
    materias: [
      {
        codigo: "LTS401",
        nombre: "Desarrollo Humano",
        creditos: 3,
        color: "rojo",
      },
      {
        codigo: "LTS402",
        nombre: "Programación Social",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "LTS403",
        nombre: "Estadística Aplicada a la Investigación Social II",
        creditos: 6,
        color: "rojo",
      },
      {
        codigo: "LTS404",
        nombre: "Psicología del Desarrollo Humano II",
        creditos: 6,
        color: "rojo",
      },
      {
        codigo: "LTS405",
        nombre: "Organización y Promoción Social",
        creditos: 5,
        color: "rojo",
      },
      {
        codigo: "LTS406",
        nombre: "Práctica Comunitaria I",
        creditos: 6,
        color: "rojo",
      },
      {
        codigo: "LTS407",
        nombre: "Inglés IV",
        creditos: 4,
        color: "rojo",
      },
    ],
  },
  {
    numero: 5,
    materias: [
      {
        codigo: "LTS501",
        nombre: "Bioética y Normatividad",
        creditos: 3,
        color: "morado",
      },
      {
        codigo: "LTS502",
        nombre: "Movimiento y Participación Social",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "LTS503",
        nombre: "Planeación y Desarrollo Social",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "LTS504",
        nombre: "Salud Pública",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "LTS505",
        nombre: "Trabajo Social en la Atención Individualizada",
        creditos: 5,
        color: "morado",
      },
      {
        codigo: "LTS506",
        nombre: "Práctica Comunitaria II",
        creditos: 6,
        color: "morado",
      },
      {
        codigo: "LTS507",
        nombre: "Inglés V",
        creditos: 4,
        color: "morado",
      },
    ],
  },
  {
    numero: 6,
    materias: [
      {
        codigo: "LTS601",
        nombre: "Informática",
        creditos: 3,
        color: "azul",
      },
      {
        codigo: "LTS602",
        nombre: "Práctica Regional I",
        creditos: 6,
        color: "azul",
      },
      {
        codigo: "LTS603",
        nombre: "Evaluación de Proyectos Sociales",
        creditos: 6,
        color: "azul",
      },
      {
        codigo: "LTS604",
        nombre: "Salud Mental",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "LTS605",
        nombre: "Familia y Vida Cotidiana",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "LTS606",
        nombre: "Educación Social",
        creditos: 5,
        color: "azul",
      },
      {
        codigo: "LTS607",
        nombre: "Inglés VI",
        creditos: 4,
        color: "azul",
      },
    ],
  },
  {
    numero: 7,
    materias: [
      {
        codigo: "LTS701",
        nombre: "Redacción de Documentos Académicos",
        creditos: 3,
        color: "rosa",
      },
      {
        codigo: "LTS702",
        nombre: "Práctica Regional II",
        creditos: 6,
        color: "rosa",
      },
      {
        codigo: "LTS703",
        nombre: "Derechos Humanos",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "LTS704",
        nombre: "Bienestar Social",
        creditos: 6,
        color: "rosa",
      },
      {
        codigo: "LTS705",
        nombre: "Procuración y Administración de Justicia",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "LTS706",
        nombre: "Psicología Social",
        creditos: 5,
        color: "rosa",
      },
      {
        codigo: "LTS707",
        nombre: "Inglés VII",
        creditos: 4,
        color: "rosa",
      },
    ],
  },
  {
    numero: 8,
    materias: [
      {
        codigo: "LTS801",
        nombre: "Seminario de Investigación en Trabajo Social I",
        creditos: 6,
        color: "gris",
      },
      {
        codigo: "LTS802",
        nombre: "Práctica de Especialización I",
        creditos: 6,
        color: "gris",
      },
      {
        codigo: "LTS803",
        nombre: "Situación Jurídica de la Familia",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "LTS804",
        nombre: "Administración Social",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "LTS805",
        nombre: "Comunicación Social",
        creditos: 5,
        color: "gris",
      },
      {
        codigo: "LTS806",
        nombre: "Inglés VIII",
        creditos: 4,
        color: "gris",
      },
    ],
  },
  {
    numero: 9,
    materias: [
      {
        codigo: "LTS901",
        nombre: "Seminario de Investigación en Trabajo Social II",
        creditos: 6,
        color: "negro",
      },
      {
        codigo: "LTS902",
        nombre: "Práctica de Especialización II",
        creditos: 6,
        color: "negro",
      },
      {
        codigo: "LTS903",
        nombre: "Identidad y Cultura",
        creditos: 6,
        color: "negro",
      },
      {
        codigo: "LTS904",
        nombre: "Análisis Institucional",
        creditos: 6,
        color: "negro",
      },
      {
        codigo: "LTS905",
        nombre: "Población y Medio Ambiente",
        creditos: 6,
        color: "negro",
      },
    ],
  },
];

const planteles = [
  {
    id: "1",
    nombre: "Centro",
    direccion: "Av. República No.10, Col. San Juan de Dios",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-centro",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Centro.webp",
    lat: 20.67744801539995,
    lon: -103.34031672627513,
  },
  {
    id: "2",
    nombre: "Centro Médico",
    direccion: "José María Lozano #1077, Col. Belisario Domínguez",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-centro-medico",
    imagen: "/src/assets/Imagenes/CardsPlanteles/CentroMedico.webp",
    lat: 20.684590788642307,
    lon: -103.3256397932448,
  },

  {
    id: "4",
    nombre: "Puerto Vallarta - Plaza Caracol",
    direccion: "Blvd. Fco. Medina Ascencio #2180, Col. Díaz Ordaz",
    ciudad: "Puerto Vallarta",
    url: "/plantel-plaza-caracol-puerto-vallarta",
    imagen: "/src/assets/Imagenes/CardsPlanteles/PuertoVallarta.webp",
    lat: 20.639287162026815,
    lon: -105.23323589513319,
  },
 
 
  {
    id: "8",
    nombre: "Tlaquepaque",
    direccion:
      "Blvd. Marcelino García Barragán #2056, Col. Bosques del Boulevard",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-tlaquepaque",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Tlaquepaque.webp",
    lat: 20.645650028567157,
    lon: -103.32094530771215,
  },
  
  {
    id: "10",
    nombre: "Chapultepec",
    direccion: "Av. Vallarta #1458, Col. Americana",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-vallarta",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Chapultepec.webp",
    lat: 20.67471004174908,
    lon: -103.36909119392195,
  },
  {
    id: "11",
    nombre: "Zapopan",
    direccion: "Plaza Caudillos",
    ciudad: "Guadalajara ZMG",
    url: "/plantel-zapopan",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Zapopan.webp",
    lat: 20.720900646775917,
    lon: -103.38975281813357,
  },
];

const ciudades = [
  "Guadalajara ZMG",
  "Puerto Vallarta",
];
---

<Layout>
  <main class="min-h-screen">
    <!-- Hero Section -->

    <section
      class="relative min-h-[85vh] md:min-h-[65vh] bg-cover bg-center bg-no-repeat"
    >
      {/* Desktop Background */}
      <div
        class="absolute inset-0 hidden md:block bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero.src})` }}
      >
      </div>

      {/* Mobile Background */}
      <div
        class="absolute inset-0 block md:hidden bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero_mobile.src})` }}
      >
      </div>

      {/* Hero Content */}
      <div
        class="relative z-10 container mx-auto px-4 h-full min-h-[85vh] md:min-h-[65vh] flex flex-col justify-center"
      >
        <div class="text-center text-white max-w-4xl mx-auto">
          {/* Main Title */}
          <h1 class="text-4xl md:text-7xl font-bold tracking-wider mb-4">
            Lic. en trabajo social
          </h1>

          {/* Description */}
          <p
            class="text-lg md:text-xl leading-relaxed mb-16 max-w-3xl mx-auto font-light"
          >
            Interviene de forma directa en comunidades, familias y
            organizaciones para mejorar su bienestar.
          </p>
        </div>
      </div>
    </section>

    <!-- Floating Card - ahora está fuera de la sección hero -->
    <div class="relative -top-16 z-20 px-4">
      <div class="bg-azul-une rounded-2xl px-8 shadow-2xl max-w-4xl mx-auto">
        <div
          class="flex flex-col sm:flex-row items-center justify-center gap-6"
        >
          <!-- CTA Buttons -->
          <div
            class="flex flex-col sm:flex-row gap-4 w-full justify-center text-white"
          >
            <!-- Agenda una Visita -->
            <a
              href="/contacto/solicitarvisita"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-6 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
            >
              AGENDA UNA VISITA
              <Calendar size={20} />
            </a>

            <!-- Iniciar Inscripción -->
            <a
              href="/contacto/formulario-inscripcion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
            >
              INICIAR INSCRIPCIÓN
              <UserPlus size={20} />
            </a>

            <!-- Contactar -->
            <a
              href="/contacto/solicitarinformacion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
            >
              CONTACTAR
              <Phone size={20} />
            </a>
          </div>
        </div>
      </div>
    </div>

    <InformativeCard
      logoSrc={LogoCard.src}
      studentImageSrc={ImagenCard.src}
      title="Objetivo"
      description="Formar profesionales en trabajo social con competencias teóricas, metodológicas y éticas para intervenir en problemáticas sociales complejas, promoviendo la inclusión, la equidad y el bienestar de individuos y comunidades, con un fuerte compromiso con los derechos humanos y la transformación social."
      features={[
        {
          icon: "Users",
          label: "Intervención en problemáticas sociales complejas",
        },
        {
          icon: "HeartHandshake",
          label: "Compromiso con la equidad y la inclusión",
        },
        {
          icon: "Globe",
          label: "Transformación social con enfoque comunitario",
        },
        {
          icon: "BadgeCheck",
          label: "Ética profesional centrada en los derechos humanos",
        },
        {
          icon: "BookOpenCheck",
          label: "Fundamentación teórico-metodológica sólida",
        },
      ]}
    />

    <PlanEstudios titulo="Propuesta Educativa" semestres={semestresDatos} />

    <Planteles
      titulo="Encuentra tu campus más cercano"
      planteles={planteles}
      ciudades={ciudades}
      mostrarMasCercano={true}
    />

    <Requisitos nivel="Licenciatura" requisitos={requisitosInfo} />

    <FAQComponent
      faqs={faqs}
      title="Preguntas frecuentes"
      subtitle="Encuentra respuestas a las dudas más comunes"
    />

    <CTAinscripcion />
  </main>
</Layout>
