---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/assets/Imagenes/Heros/UDG.webp";
import Hero_mobile from "@/assets/Imagenes/Heros/udg-mobile.webp";
import ImagenCard from "@/assets/Imagenes/CardsNiveles/Nivel.webp";
import LogoCard from "@/assets/Logos/UDG.webp";
import InformativeCard from "@components/sections/detallesOferta/card.astro";
import Planteles from "@components/sections/detallesOferta/planteles.astro";
import Costos from "@components/sections/detallesOferta/costos.astro";
import Requisitos from "@/components/sections/detallesOferta/requisitos.astro";
import PlanEstudios from "@/components/sections/detallesOferta/planEstudios.astro";
import Perfiles from "@/components/sections/detallesOferta/perfiles.astro";
import FAQComponent from "@/components/sections/detallesOferta/preguntas.astro";
import CTAinscripcion from "@/components/sections/shared/ctaInscripcion.astro";
import { Calendar, UserPlus, Phone } from "@lucide/astro";
// Importar la función
import { crearPlantelesEspecificos } from "@/helpers/planteles"

// Configuración de planteles con diferentes casos
const plantelesData = crearPlantelesEspecificos([
  {
    plantel: "Centro",
    diferentesPrecios: true,
    costoInscripcion: 2207,
    costoColegiatura: 2452,
    modalidad: "normal",
  },
  {
    plantel: "Centro Médico",
    diferentesPrecios: true,
    costoInscripcion: 1555,
    costoColegiatura: 1727,
    modalidad: "normal",
  },
  {
    plantel: "Milenio (Matutino)",
    diferentesPrecios: true,
    costoInscripcion: 2948,
    costoColegiatura: 3276,
    modalidad: "normal",
  },
  {
    plantel: "Milenio (Vespertino)",
    diferentesPrecios: true,
    costoInscripcion: 2315,
    costoColegiatura: 2573,
    modalidad: "normal",
  },
  {
    plantel: "Tlajomulco (Matutino)",
    diferentesPrecios: true,
    costoInscripcion: 3667,
    costoColegiatura: 4074,
    modalidad: "normal",
  },
  {
    plantel: "Tlajomulco (Vespertino)",
    diferentesPrecios: true,
    costoInscripcion: 2930,
    costoColegiatura: 3255,
    modalidad: "normal",
  },
  {
    plantel: "Plaza del Sol",
    diferentesPrecios: true,
    costoInscripcion: 2930,
    costoColegiatura: 3255,
    modalidad: "normal",
  },
  {
    plantel: "Tesistán",
    diferentesPrecios: true,
    costoInscripcion: 2084,
    costoColegiatura: 2315,
    modalidad: "normal",
  },
  {
    plantel: "Tlaquepaque",
    diferentesPrecios: true,
    costoInscripcion: 1758,
    costoColegiatura: 1953,
    modalidad: "normal",
  },
  {
    plantel: "Tonalá",
    diferentesPrecios: true,
    costoInscripcion: 2183,
    costoColegiatura: 2426,
    modalidad: "normal",
  },
  {
    plantel: "Zapopan",
    diferentesPrecios: true,
    costoInscripcion: 2008,
    costoColegiatura: 2231,
    modalidad: "normal",
  },
]);
const planteles = [
  {
    id: "1",
    nombre: "UNE Centro",
    codigo: "00015",
    direccion: "Av. República No.10 Col. San Juan de Dios, Guadalajara, Jalisco",
    ciudad: "Guadalajara ZMG",
    url: "/campus/centro",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Centro.webp",
    lat: 20.67744801539995,
    lon: -103.34031672627513,
  },
  {
    id: "2",
    nombre: "Centro Médico",
    codigo: "00016",
    direccion: "José María Lozano #1077 Col. Belisario Domínguez Guadalajara, Jalisco",
    ciudad: "Guadalajara ZMG",
    url: "/campus/centro-medico",
    imagen: "/src/assets/Imagenes/CardsPlanteles/CentroMedico.webp",
    lat: 20.684590788642307,
    lon: -103.3256397932448,
  },
  {
    id: "3",
    nombre: "Milenio",
    codigo: "00017",
    direccion: "Av. Adolfo López Mateos Sur 4183, La Giralda, 45088 Zapopan, Jal",
    ciudad: "Guadalajara ZMG",
    url: "/campus/milenio",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Milenio.webp",
    lat: 20.64540739939039,
    lon: -103.40630313415286,
  },
  {
    id: "4",
    nombre: "Plaza del Sol",
    codigo: "00005",
    direccion: "Chimalhuacán #6, Col. Ciudad del Sol, Guadalajara, Jalisco",
    ciudad: "Guadalajara ZMG",
    url: "/campus/plaza-del-sol",
    imagen: "/src/assets/Imagenes/CardsPlanteles/PlazaSol.webp",
    lat: 20.651805,
    lon: -103.402918,
  },
  {
    id: "5",
    nombre: "Zapopan",
    codigo: "00021",
    direccion: "Plaza Caudillos Zapopan, Jalisco",
    ciudad: "Guadalajara ZMG",
    url: "/campus/zapopan",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Zapopan.webp",
    lat: 20.720900646775917,
    lon: -103.38975281813357,
  },
  {
    id: "6",
    nombre: "Tesistán",
    codigo: "00010",
    direccion:
      "Av. Juan Gil Preciado #3897, Col. Hogares de Nuevo México, Zapopan, Jalisco",
    ciudad: "Guadalajara ZMG",
    url: "/campus/tesistan",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Tesistan.webp",
    lat: 20.806203,
    lon: -102.763903,
  },
  {
    id: "7",
    nombre: "Tlajomulco",
    codigo: "00012",
    direccion:
      "Av. López Mateos #10100, Col. Los Gavilanes Poniente, Tlajomulco de Zúñiga, Jalisco",
    ciudad: "Guadalajara ZMG",
    url: "/campus/tlajomulco",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Tlajomulco.webp",
    lat: 20.576464164603113,
    lon: -103.45243680650722,
  },
  {
    id: "8",
    nombre: "Tlaquepaque",
    codigo: "00013",
    direccion:
      "Blvd. Marcelino García Barragán #2056, Col. Bosques del Boulevard, Tlaquepaque, Jalisco",
    ciudad: "Guadalajara ZMG",
    url: "/campus/tlaquepaque",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Tlaquepaque.webp",
    lat: 20.645650028567157,
    lon: -103.32094530771215,
  },
  {
    id: "9",
    nombre: "Tonalá",
    codigo: "00014",
    direccion: "Av. Tonaltecas #333, Col. Agua Escondida, Tonalá, Jalisco",
    ciudad: "Guadalajara ZMG",
    url: "/campus/tonala",
    imagen: "/src/assets/Imagenes/CardsPlanteles/Tonala.webp",
    lat: 20.63176692188573,
    lon: -103.24439406488241,
  },
  {
    id: "10",
    nombre: "Avenida México",
    codigo: "00008",
    direccion: "Av. México #1255, Col. Agua Zarca, Puerto Vallarta, Jalisco",
    ciudad: "Puerto Vallarta",
    url: "/campus/puerto-vallarta",
    imagen: "/src/assets/Imagenes/CardsPlanteles/PuertoVallarta.webp",
    lat: 20.669418,
    lon: -105.226917,
  },
];

const ciudades = ["Guadalajara ZMG", "Puerto Vallarta"];

const requisitosInfo = {
  items: [
    "Acta de nacimiento (en buen estado)",
    "Certificado de secundaria y carta validación del mismo",
    "Ocho fotografías tamaño infantil blanco y negro de estudio",
    "Una fotografía tamaño credencial a color",
    "CURP",
    "Comprobante de domicilio",
    "Todos los documentos originales y 3 copias",
  ],
  pdfUrl: "/pdfs/bachillerato_req.pdf",
};

const semestresDatos = [
  {
    numero: 1,
    materias: [
      {
        codigo: "MAT101",
        nombre: "Conocimiento matemático I",
        creditos: 30,
        color: "verde",
      },
      {
        codigo: "COM101",
        nombre: "Lengua y comunicación I",
        creditos: 30,
        color: "verde",
      },
      {
        codigo: "ENG101",
        nombre: "Inglés nivel 1",
        creditos: 30,
        color: "verde",
      },
      {
        codigo: "DIG101",
        nombre: "Comunicación digital",
        creditos: 30,
        color: "verde",
      },
      {
        codigo: "HIS101",
        nombre: "Historia e identidad universitaria",
        creditos: 30,
        color: "verde",
      },
      {
        codigo: "GEN101",
        nombre: "Sexualidad y género",
        creditos: 30,
        color: "verde",
      },
      {
        codigo: "SAL101",
        nombre: "Estilo de vida saludable",
        creditos: 30,
        color: "verde",
      },
      {
        codigo: "TUT101",
        nombre: "Tutoría de ingreso I",
        creditos: 30,
        color: "verde",
      },
    ],
  },
  {
    numero: 2,
    materias: [
      {
        codigo: "MAT201",
        nombre: "Conocimiento matemático II",
        creditos: 30,
        color: "amarillo",
      },
      {
        codigo: "COM201",
        nombre: "Comprensión lectora I",
        creditos: 30,
        color: "amarillo",
      },
      {
        codigo: "ENG201",
        nombre: "Inglés nivel 2",
        creditos: 30,
        color: "amarillo",
      },
      {
        codigo: "DIG201",
        nombre: "Consumo y producción digital",
        creditos: 30,
        color: "amarillo",
      },
      {
        codigo: "QUI201",
        nombre: "Química de mi entorno",
        creditos: 30,
        color: "amarillo",
      },
      {
        codigo: "CIE201",
        nombre: "Conocimiento científico",
        creditos: 30,
        color: "amarillo",
      },
      {
        codigo: "SOC201",
        nombre: "Educación socioemocional y cultura de paz",
        creditos: 30,
        color: "amarillo",
      },
      {
        codigo: "FIS201",
        nombre: "Desarrollo personal y actividad física",
        creditos: 30,
        color: "amarillo",
      },
      {
        codigo: "TUT201",
        nombre: "Tutoría de ingreso II",
        creditos: 30,
        color: "amarillo",
      },
    ],
  },
  {
    numero: 3,
    materias: [
      {
        codigo: "MAT301",
        nombre: "Pensamiento matemático I",
        creditos: 30,
        color: "naranja",
      },
      {
        codigo: "COM301",
        nombre: "Comprensión lectora II",
        creditos: 30,
        color: "naranja",
      },
      {
        codigo: "ENG301",
        nombre: "Inglés nivel 3",
        creditos: 30,
        color: "naranja",
      },
      {
        codigo: "TEC301",
        nombre: "Innovación tecnológica y pensamiento computacional",
        creditos: 30,
        color: "naranja",
      },
      {
        codigo: "QUI301",
        nombre: "Química del carbono",
        creditos: 30,
        color: "naranja",
      },
      {
        codigo: "ART301",
        nombre: "El mundo a través del arte",
        creditos: 30,
        color: "naranja",
      },
      {
        codigo: "DEP301",
        nombre: "Deporte y recreación",
        creditos: 30,
        color: "naranja",
      },
      {
        codigo: "TUT301",
        nombre: "Tutoría de trayectoria I",
        creditos: 30,
        color: "naranja",
      },
    ],
  },
  {
    numero: 4,
    materias: [
      {
        codigo: "MAT401",
        nombre: "Pensamiento matemático II",
        creditos: 30,
        color: "rojo",
      },
      {
        codigo: "LIT401",
        nombre: "Análisis literario I",
        creditos: 30,
        color: "rojo",
      },
      {
        codigo: "ENG401",
        nombre: "Inglés nivel 4",
        creditos: 30,
        color: "rojo",
      },
      {
        codigo: "MOV401",
        nombre: "Estudio del movimiento",
        creditos: 30,
        color: "rojo",
      },
      {
        codigo: "FIS401",
        nombre: "Fisiología celular",
        creditos: 30,
        color: "rojo",
      },
      {
        codigo: "HIS401",
        nombre: "Historia y arte regional",
        creditos: 30,
        color: "rojo",
      },
      {
        codigo: "FIL401",
        nombre: "Análisis filosófico",
        creditos: 30,
        color: "rojo",
      },
      {
        codigo: "TUT401",
        nombre: "Tutoría de trayectoria II",
        creditos: 30,
        color: "rojo",
      },
    ],
  },
  {
    numero: 5,
    materias: [
      {
        codigo: "MAT501",
        nombre: "Análisis matemático I",
        creditos: 30,
        color: "morado",
      },
      {
        codigo: "LIT501",
        nombre: "Análisis literario II",
        creditos: 30,
        color: "morado",
      },
      {
        codigo: "ENG501",
        nombre: "Inglés nivel 5",
        creditos: 30,
        color: "morado",
      },
      {
        codigo: "FIS501",
        nombre: "Fenómenos térmicos y electromagnéticos",
        creditos: 30,
        color: "morado",
      },
      {
        codigo: "BIO501",
        nombre: "Evolución y biodiversidad",
        creditos: 30,
        color: "morado",
      },
      {
        codigo: "HIS501",
        nombre: "Historia sociocultural de México y el mundo",
        creditos: 30,
        color: "morado",
      },
      {
        codigo: "ETI501",
        nombre: "Problemas éticos contemporáneos",
        creditos: 30,
        color: "morado",
      },
      {
        codigo: "TUT501",
        nombre: "Tutoría de egreso I",
        creditos: 30,
        color: "morado",
      },
    ],
  },
  {
    numero: 6,
    materias: [
      {
        codigo: "MAT601",
        nombre: "Análisis matemático II",
        creditos: 30,
        color: "azul",
      },
      {
        codigo: "COM601",
        nombre: "Razonamiento verbal y redacción",
        creditos: 30,
        color: "azul",
      },
      {
        codigo: "ENG601",
        nombre: "Inglés nivel 6",
        creditos: 30,
        color: "azul",
      },
      {
        codigo: "GEO601",
        nombre: "Geografía humana",
        creditos: 30,
        color: "azul",
      },
      {
        codigo: "CIU601",
        nombre: "Ciudadanía global",
        creditos: 30,
        color: "azul",
      },
      {
        codigo: "FIN601",
        nombre: "Educación financiera",
        creditos: 30,
        color: "azul",
      },
      {
        codigo: "VID601",
        nombre: "Identidad y proyecto de vida",
        creditos: 30,
        color: "azul",
      },
      {
        codigo: "TUT601",
        nombre: "Tutoría de egreso II",
        creditos: 30,
        color: "azul",
      },
    ],
  },
];

const faqs = [

  {
    question: "¿Qué métodos de enseñanza utilizan?",
    answer:
      "Utilizamos un enfoque integral basado en competencias, con apoyo en tecnología educativa, desarrollo socioemocional y aprendizaje significativo.",
  },
];

const costosData = {
  // Costos fijos
  seguroEscolar: 180,
  coberturaEscolar: 1200,
  uniformeEscolar: {
    kitCompleto: 1380,
    ahorro: 200,
  },
  uniformeDiario: [
    {
      id: "1",
      nombre: "Falda",
      precio: 510,
      imagen: "/src/assets/Imagenes/Uniformes/Falda.webp",
    },
    {
      id: "2",
      nombre: "Blusa",
      precio: 320,
      imagen: "/src/assets/Imagenes/Uniformes/Falda.webp",
    },
    {
      id: "3",
      nombre: "Suéter",
      precio: 450,
      imagen: "/src/assets/Imagenes/Uniformes/Falda.webp",
    },
  ],
};
---

<Layout>
  <main class="min-h-screen">
    <!-- Hero Section -->

    <section
      class="relative min-h-[85vh] md:min-h-[65vh] bg-cover bg-center bg-no-repeat"
    >
      {/* Desktop Background */}
      <div
        class="absolute inset-0 hidden md:block bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero.src})` }}
      >
      </div>

      {/* Mobile Background */}
      <div
        class="absolute inset-0 block md:hidden bg-cover bg-center bg-no-repeat"
        style={{ backgroundImage: `url(${Hero_mobile.src})` }}
      >
      </div>

      {/* Hero Content */}
      <div
        class="relative z-10 container mx-auto px-4 h-full min-h-[85vh] md:min-h-[65vh] flex flex-col justify-center"
      >
        <div class="text-center text-white max-w-4xl mx-auto">
          {/* Main Title */}
          <h1 class="text-4xl md:text-7xl font-bold tracking-wider mb-4">
            Bachillerato UDG
          </h1>
          <h2 class="text-2xl md:text-5xl font-bold tracking-wider mb-8">
            UNE
          </h2>

          {/* Resumen de UNE */}
          <p
            class="text-lg md:text-xl leading-relaxed mb-16 max-w-3xl mx-auto font-light"
          >
            En UNE, formamos estudiantes con visión de futuro. Ofrecemos calidad
            académica, becas y orientación para que alcancen sus metas y lleguen
            bien preparados a la universidad.
          </p>
        </div>
      </div>
    </section>

    <!-- Floating Card - ahora está fuera de la sección hero -->
    <div class="relative -top-16 z-20 px-4">
      <div class="bg-azul-une rounded-2xl px-8 shadow-2xl max-w-4xl mx-auto">
        <div
          class="flex flex-col sm:flex-row items-center justify-center gap-6"
        >
          <!-- CTA Buttons -->
          <div
            class="flex flex-col sm:flex-row gap-4 w-full justify-center text-white"
          >
            <!-- Agenda una Visita -->
            <a href="/contacto/solicitarvisita"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-6 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
            >
              AGENDA UNA VISITA
              <Calendar size={20} />
            </a>

            <!-- Iniciar Inscripción -->
            <a href="/contacto/formulario-inscripcion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
            >
              INICIAR INSCRIPCIÓN
              <UserPlus size={20} />
            </a>

            <!-- Contactar -->
             <a href="/contacto/solicitarinformacion"
              class="hover:border-b hover:border-b-cyan-50 font-bold py-3 px-6 text-base transition-colors duration-300 shadow-lg flex flex-col items-center justify-center gap-2 whitespace-nowrap"
            >
              CONTACTAR
              <Phone size={20} />
            </a>
          </div>
        </div>
      </div>
    </div>

    <InformativeCard
      logoSrc={LogoCard.src}
      studentImageSrc={ImagenCard.src}
      title="Bachillerato incorporado a la UDG"
      description="Forma parte de un bachillerato de tiempo completo con validez oficial, enfocado en una educación de calidad y preparación universitaria."
      additionalText="Respaldo de la Universidad de Guadalajara y reconocimiento de la SEP. Ideal para jóvenes que desean una formación académica sólida y continua."
      features={[
        { icon: "School", label: "Validez oficial SEP" },
        { icon: "CalendarDays", label: "Clases presenciales diarias" },
        { icon: "Clock", label: "Horario de tiempo completo" },
        { icon: "BookOpen", label: "Enfoque académico integral" },
        {
          icon: "BookmarkCheck",
          label: "Preparación para universidad",
        },
      ]}
    />

    <Planteles
      titulo="Encuentra tu campus más cercano"
      planteles={planteles}
      ciudades={ciudades}
      mostrarMasCercano={true}
    />

    <Costos
      inscripcionAnual={costosData.inscripcionAnual}
      seguroEscolar={costosData.seguroEscolar}
      coberturaEscolar={costosData.coberturaEscolar}
      uniformeEscolar={costosData.uniformeEscolar}
      uniformeDiario={costosData.uniformeDiario}
      planteles={plantelesData}
    />
    <Requisitos nivel="Bachillerato" requisitos={requisitosInfo} />

    <PlanEstudios titulo="Propuesta Educativa" semestres={semestresDatos} />

    <Perfiles
      perfilIngreso="El estudiante que ingresa al bachillerato debe haber concluido la secundaria, tener hábitos de estudio, disposición para el aprendizaje autónomo y trabajo colaborativo, así como valores como respeto, responsabilidad y honestidad."
      perfilEgreso="El egresado contribuye a una sociedad democrática con justicia social; actúa con conciencia crítica y solidaria, enfrenta problemáticas actuales y aplica conocimientos científicos, tecnológicos y culturales de forma responsable."
    />

    <FAQComponent
      faqs={faqs}
      title="Preguntas frecuentes"
      subtitle="Encuentra respuestas a las dudas más comunes"
    />

    <CTAinscripcion />
  </main>
</Layout>
